@model fcConferenceManager.Models.Portolo.Product

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">

</head>

<style>
    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef0f;
        opacity: 1;
    }
</style>

<body>
   <div class="body-main-wrap">
    <section class="task-list-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="/Product/AddProduct" method="post" enctype="multipart/form-data" onsubmit="validateInputs(e);">
                        @Html.HiddenFor(model => model.Id)
                        <div class="control-icons">
                            <h2> Add Product </h2>

                            <div class="controls">
                                <input type="submit" name="Save" value="Save" id="idSave" class="brdr-1 btn-sm" onclick="return validateInputs(event);">
                                <a href="~/Product/ProductList" class="brdr-1 btn-sm" style="padding:7px 5px"> Cancel </a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-box">
                                    <div class="form-group">
                                        <label>Product Name</label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-sm", @id = "Product" })
                                    </div>
                                    <div class="form-group">
                                        <br />
                                        <label>Description</label>
                                        @Html.TextAreaFor(model => model.description, new { @class = "form-control", cols = "100", rows = "5" })
                                    </div><br>
                                    <div class="form-group">
                                        <label>Price</label><br />
                                            <div class="input-group mb-2">
                                                 <div class="input-group-prepend">
                                                  <span class="input-group-text" style="line-height:1">$</span>
                                                 </div>
                                                @Html.TextBoxFor(model=>model.Price, new { @class = "form-control form-control-sm"})
                                                 @*<input type="text" class="form-control" style="height:30px" value="@Model.Price">*@
                                             </div>
                                        
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
   </div>



							 
												   
																															
					  
				  
			  
			 

</body>

<script type="text/javascript" language="javascript">

    function validateInputs(e) {

        var Name = $.trim($('#Product').val());
        if (Name == "") {
            $("#Product").focus();

            alert("Please enter the Product Name");
            return false;
        }
    }
</script>