
@{
    ViewBag.Title = "Study";
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}

<link href="~/Content/components.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
</head>

<style>
    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef0f;
        opacity: 1;
    }

    .dataTables_paginate {
        width: 100%;
        text-align: center !important;
        border: 1px solid #e6e6e6;
        background-color: #f9f9f9;
        padding: 5px 0 4px;
        line-height: 22px;
        float: none !important;
        margin: 0px;
    }

        .dataTables_paginate .paginate_button {
            border-width: 1px !important;
            border-style: solid !important;
            border-color: #e0e0e0 !important;
            border-radius: 0 !important;
            color: #000 !important;
            background: #f9f9f9 !important;
            padding: 3px !important;
            display: inline-block !important;
            position: relative;
            vertical-align: middle;
            cursor: pointer !important;
            font-size: 13px;
            margin: 5px;
        }



    .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
        color: #333 !important;
        background-color: #e7e7e7 !important;
    }

    .paginate_button.previous:after, .paginate_button.next:after {
        content: "";
        display: block;
        border-width: 4px;
        border-style: solid;
        border-color: transparent #000 transparent transparent;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
    }

    .paginate_button.previous, .paginate_button.next {
        font-size: 0;
        width: 20px !important;
        height: 20px;
    }

        .paginate_button.next:after {
            border-color: transparent transparent transparent #000;
            right: auto;
            left: 6px;
        }

    .dataTable thead .sorting_desc:after, .dataTable thead .sorting_asc:after, .dataTable thead .sorting:after, .dataTable thead .sorting:before {
        content: none;
    }
</style>

<body>
    <section class="task-list-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("Search", "study", new { id = @ViewBag.UserId }, FormMethod.Get))
                    {
                        <div class="control-icons">
                            <h2>Material's List</h2>

                            <button type="submit" value="Search" name="action" style="border-color: white; border: none;background-color:white" title="Search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <a href="~/Study/Study"><i class="fa-solid fa-arrows-rotate"></i></a>

                            <div class="controls">
                                <a class="brdr-1 btn" href="/Study/Add/@ViewBag.UserId" style="height:33px"> Add </a>
                                &nbsp;
                                <a id="btnDelete" class="brdr-1 btn" href="" onclick="return confirm('Are you sure?')" style="height:33px"><i class="fa fa-trash-o"></i> Delete</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Title:</label>
                                    @Html.TextBox("name", null, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="card">
                            <div class="emp-data">
                                <table class="table table-bordered mb-0" id="table">
                                    <thead>
                                        <tr class="table-hd">
                                            <th style="width:2px;" data-sortable="false"><input type="checkbox" name="select-all" id="select-all" /></th>
                                            <th data-sortable="true">Title</th>
                                            <th data-sortable="true">File Name</th>
                                            <th data-sortable="False" style="width:10px;">File</th>
                                            <th style="width:10px;">Edit</th>
                                            <th style="width:10px;"> View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Materials != null)
                                        {
                                            foreach (var item in ViewBag.Materials.Rows)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="ID" value="@item["pkey"]" class="custom-checkbox chkCheckBoxId" /></td>
                                                    <td> @item["FileTitle"]</td>
                                                    <td> @item["FileName"]</td>
                                                    <td style="text-align:center">
                                                        @if (@item["FilePath"] != "")
                                                        {
                                                            <a href="@item["FilePath"]" download title="Download"><i class="fas fa-cloud-download"></i></a>
                                                        }
                                                    </td>
                                                    <td style="padding-top:10px; text-align:center"><a href="/Study/Edit/@item["pkey"]"> Edit</a></td>
                                                    <td><input type="button" class="brdr-1 btn-sm cmdView" id="@item["FileDescription"]" href="#" value="View" /></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="ViewModal" tabindex="-1" aria-labelledby="modalOne" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xs">
            <div class="modal-content">
                <div class="modal-header modalBlueHeader">
                    <h5 class="lblTitle mt-1">Description</h5>
                    <div>
                        <button id="closeModal" type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div>
                <div class="modal-body p-1">
                    <div class="row">
                        <div class="col-md-6">
                            <p id="refreshOrganizationText" style="padding:10px; margin-bottom:5px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $("#table").dataTable({
                paging: true, bFilter: true, ordering: true, searching: true, dom: 'tp', "order": [[0, "desc"]], pageLength: 50,
            });

            $('.cmdView').click(function (result) {
                debugger
                $('#ViewModal').modal('show');
                $('#refreshOrganizationText').html(this.id);
            });
        });

        var primarykey = [];

        $("#select-all").click(function (event) {
            if (this.checked) {
                primarykey.length = 0;
                // Iterate each checkbox
                $(':checkbox').each(function () {
                    this.checked = true;
                    if (this.value != "on") {
                        primarykey.push(this.value);
                    }
                });
            }
            else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

        $("#btnDelete").click(function (e) {
            var checklist = [];
            $(':checkbox:checked').each(function () {
                if (this.value != "on")
                    checklist.push(this.value);
            });

            var ids = checklist.join(", ");
            if (ids == "")
                alert("Please select at least one topic to delete");
            else {
                $.ajax({
                    url: "/Study/DeleteTopic",
                    type: "POST",
                    data: { ids: ids }
                });
            }

        });


    </script>

    <link rel="stylesheet" href="../Scripts/jquery-ui.css" />
    <script src="../Scripts/jquery-ui.js"></script>

</body>





