@model Elimar.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Portolostyle.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <title>Portolo</title>
    <meta name="description"
          content="Portolo" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar">
                        <div class="logo"><img src="~/Images/Icons/PortoloLogo.png" /></div>

                        <div class="push-left">
                            <button id="menu-toggler" data-class="menu-active" class="hamburger">
                                <span class="hamburger-line hamburger-line-top"></span>
                                <span class="hamburger-line hamburger-line-middle"></span>
                                <span class="hamburger-line hamburger-line-bottom"></span>
                            </button>

                            <!--  Menu compatible with wp_nav_menu  -->
                            <ul id="primary-menu" class="menu nav-menu">
                                <li class="menu-item current-menu-item"><a class="nav__link" href="#">Home</a></li>
                                <li class="menu-item dropdown">
                                    <a class="nav__link" href="#">About</a>
                                    <ul class="sub-nav">
                                        <li><a class="sub-nav__link" href="#">link 1</a></li>
                                        <li><a class="sub-nav__link" href="#">link 2</a></li>
                                        <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item dropdown">
                                    <a class="nav__link" href="#">Contact</a>
                                    <ul class="sub-nav">
                                        <li><a class="sub-nav__link" href="#">link 1</a></li>
                                        <li><a class="sub-nav__link" href="#">link 2</a></li>
                                        <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="btn btn-primary btn-sm nav__link mr-0">Login</a></li>

                            </ul>


                        </div>
                    </nav>
                </div>
            </div>
        </div>


    </header>

    <section class="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-wrap card">
                        <H2>PORTOLO <span>LOGIN</span></H2>
                       @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                @*@Html.EditorFor(model => model.UserName, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "id_username", style = "width: 94%; float:left" } })

																				   
								  
			   
					   
									  

                                @*@Html.ValidationMessageFor(model => model.UserName)*@
									 

                            </div>					 
						<br />		
                            <div class="form-group mb-6 ">
                                <div  >

                                    <label  for="exampleInputPassword1">Password</label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", id = "id_password",style="width: 94%; float:left" } })

                                    @Html.ValidationMessageFor(model => model.Password)
                                
                                </div>
                                <div style="width: 5%; float:right">
                                    <img src="~/images/icons/eye.gif" id="togglePassword" @*style="margin-left: 235px; cursor: pointer;"*@ alt="eye" />

                                </div>
                            </div>
                            <div class="form-group error" style="margin:45px">
                                @if (@ViewBag.Failedcount != null)
                                {

                                    <label> Failed Attempt count is: @ViewBag.Failedcount</label>
                                }

                                @if (ViewBag.NotValidUser != null)
                                {

                                    <label> @ViewBag.NotValidUser</label>
                                }
                            </div>
                            
                                <input type="submit" value="Login" class="btn btn-primary" />
                          
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me" id="remember_me"> Remember me next time
                            </label>
                            <div class="justify-content-center d-flex flex-wrap">
                                @*<a href="/WizardJoin?BA=1" class="m-2 mt-0 mb-0">Create account?</a>*@
                                <a id="cmdGetHelp" href="#" class="m-2 mt-0 mb-0">Need help signing in?</a>
                                <a href="javascript:void(0)" id="ForgetPass" class="m-2 mt-0 mb-0" style="display:none;">Forgot your password?</a>
                                @*<a href="javascript:void(0)" id="cmdSignInWithPasscode" class="m-2 mt-0 mb-0">Sign in with passcode</a>*@
                                <a href="~/Registrationnew/Registration">Create account?</a>
                            </div>
                        }                
                    </div>
                </div>
            </div>
        </div>
    </section>
	 <div class="modal fade" id="modelRwNeedHelp" tabindex="-1" aria-labelledby="modelRwNeedHelp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modalBlueHeader">
                    <h5 class="modal-title">Need help signing in?</h5>
                    <div>
                        <button id="NeedHelpProceed" type="button" style="border-width:thin"  @*class="btn btnYellow"*@>Proceed</button>
                        
                        <button id="NeedHelpCancel" type="button" style="border-width:thin" @*class="btn"*@ data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div>
                <div class="modal-body p-0">
                    <div class="row p-2">
                        <div class="col-xs-12 mb-1">
                            <div @*class="form-check"*@ style="padding-left: -0.5em;">
                                @*<input class="form-check-input rdMargintop" type="radio" value="0" name="rblNeedHelp" id="rblNeedHelp1" checked>*@
                                <label @*class="form-check-label"*@ padding-left: 0.5em; for="rblNeedHelp1"> Send email to reset password: </label>
                            </div>
                            @*<div class="form-check">
                                    <input class="form-check-input rdMargintop" type="radio" value="1" name="rblNeedHelp" id="rblNeedHelp2">
                                    <label class="form-check-label" for="rblNeedHelp2"> Send passcode by email message </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input rdMargintop" type="radio" value="3" name="rblNeedHelp" id="rblNeedHelp4">
                                    <label class="form-check-label" for="rblNeedHelp4"> Send passcode by text message </label>
                                </div>*@
                            @*<div class="form-check">
                                    <input class="form-check-input rdMargintop" type="radio" value="2" name="rblNeedHelp" id="rblNeedHelp3">
                                    <label class="form-check-label" for="rblNeedHelp3"> Send email to MAGI Support </label>
                                </div>*@
                        </div>
                        <div class="col-xs-12 mt-1 mb-2">
                            <label class="mb-2 mb-lg-0">Enter your email address:</label>
                            <input type="text" id="txtEmailAddressNeedHelp" name="txtEmailAddressNeedHelp" style="width: 100%; padding: 12px 20px; margin: 8px 0; border: 3px solid #ccc; " class="txtRequired Font11" value="" tabindex="0" />
                            @*<input type="text"/>*@
                        </div>
                        @*<div class="col-md-12 mt-1">
                                <p>For assistance from MAGI Support, <a href="/Home/SignInHelp" class="">click here</a>.</p>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>																												
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>	© 2022 by Elimar Systems. All Rights Reserved <a href="#" class="ml-5">Website Terms of Use</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/CustomScript/_common.js"></script>
    <script>
        $(document).ready(function () {
            // Toggle menu on click
            $("#menu-toggler").click(function () {
                toggleBodyClass("menu-active");
            });

            function toggleBodyClass(className) {
                document.body.classList.toggle(className);
            }
        });

        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
           
            // toggle the eye slash icon
            //this.classList.toggle('fa-eye-slash');
            if (type == "password") {
                togglePassword.src = "/images/icons/eye.gif";
            } else {

                togglePassword.src = "/images/icons/hideeye.PNG";
            }
        });

        
    </script>

    <script>
        $(function () {
            if (localStorage.chkbx && localStorage.chkbx != '') {
                $('#remember_me').attr('checked', 'checked');
                $('#id_username').val(localStorage.usrname);
                $('#id_password').val(localStorage.pass);
            } else {
                $('#remember_me').removeAttr('checked');
                $('#id_username').val('');
                $('#id_password').val('');
            }

            $('#remember_me').click(function () {

                if ($('#remember_me').is(':checked')) {
                    // save username and password
                    localStorage.usrname = $('#id_username').val();
                    localStorage.pass = $('#id_password').val();
                    localStorage.chkbx = $('#remember_me').val();
                } else {
                    localStorage.usrname = '';
                    localStorage.pass = '';
                    localStorage.chkbx = '';
                }
            });
        });

    </script>
    <script>

        $('#ForgetPass').click(function () {
            if ($('#id_username').val().trim().indexOf("@@") !== -1)
                $('#txtEmailAddress').val($('#id_username').val());
            else
                $('#txtEmailAddress').val("")
            $('#modelRWPass').modal('show');
        });

        $('#cmdGetHelp,#cmdGetHelpPCode').click(function (e) {
            e.preventDefault();
            $('input[name="rblNeedHelp"][value="0"]').prop("checked", "checked");
            var id = $('#id_username').val();
            if (id.indexOf('@@') > -1)
                $('#txtEmailAddressNeedHelp').val(id);
            else
                $('#txtEmailAddressNeedHelp').val("");
            $('#modelRwNeedHelp').modal('show');
        });

        $('#NeedHelpProceed').click(function (e) {

            $.ajax({
                url: "/Account/Emailcheck",
                type: "POST",
                data: {
                    Email: $('#txtEmailAddressNeedHelp').val(),

                },

                success: function (result) {

                    if (result != "\"\"") {
                        alert('Mail is send');
                    }
                    else {

                        alert('User does not Exist');
                    }
                    location.reload();
                },
                error: function (result) {

                    alert('error');
                }
            });
        });
    </script>
</body>
</html>