@model Elimar.Models.UserResponse
@{
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <div class="body-main-wrap">
        <script type="text/javascript" language="javascript">
    $(document).ready(function () {
       var imageurl = '@Url.Content("ViewBag.Baseurl/User-images/empty image.png")';
        $("#image").attr("src", imageurl);
    });
    function fileCheck(elm) {
        var fn = String($(elm).val());
        var filename = fn.match(/[^\\/]*$/)[0]; // remove C:\fakename
        var imageurl = '@Url.Content("ViewBag.Baseurl/User-images/imagename")';
        imageurl = imageurl.replace('imagename', filename);
        $("#image").attr("src", imageurl);
        $("#image1").attr("src", imageurl);
        var data = filename.split(".")[1];
        if (data.toLowerCase() != 'jpg' && data.toLowerCase() != 'png' && data.toLowerCase() != 'gif')
        {
            alert("Invalid file, Please select jpg, png, gif files");

            $("#file").val('');
          var imageurl = '@Url.Content("ViewBag.Baseurl/User-images/empty image.png")';
            $("#image1").attr("src", imageurl);
            $("#image").attr("src", imageurl);

            return false;
        }


    }

    function validateInputs(e) {

				 
        var Salutation1 = $.trim($('#Salutation1').val());
        var firstName = $.trim($('#firstNameid').val());
        var LastName = $.trim($('#LastName').val());
        var signinaccountid = $.trim($('#signinaccountid').val());
        var MainEmail = $.trim($('#MainEmail').val());
        var MainEmailType = $.trim($('#MainEmailType').val());
        var ConfirmPassword = $.trim($('#ConfirmPassword').val());
        var Password = $.trim($('#Password').val());
        var Address1 = $.trim($('#Address1').val());
        var city = $.trim($('#city').val());
        var state = $.trim($('#state').val());
        var zipcode = $.trim($('#zipcode').val());
        var jobtitle = $.trim($('#jobtitle').val());
        var Organization = $.trim($('#Organization').val());
        var phone1 = $.trim($('#phone1').val());
        if (Salutation1 == "") {
            $("#Salutation1").focus();
            alert("Please Select Salutation");
            return false;
        }
        if (firstName == "") {
            $("#firstNameid").focus();
            alert("Please Fill First Name");
            return false;
        }
        else if (LastName == "") {
            $("#LastName").focus();
            alert("Please Fill Last Name");
            return false;
        }
        else if (signinaccountid == "") {
            $("#signinaccountid").focus();
            alert("Please Fill Sign in Account ID");
            return false;
        }
        else if (MainEmail == "") {
            $("#MainEmail").focus();
            alert("Please Fill Main Email");
            return false;
        }
        else if (MainEmailType == "") {
            $("#MainEmailType").focus();
            alert("Please Fill MainEmailType");
            return false;
        }
        else if (Password == "") {
            $("#Password").focus();
            alert("Please Fill Password");
            return false;
        }
        else if (ConfirmPassword == "") {
            $("#ConfirmPassword").focus();
            alert("Please Fill Confirm Password");
            return false;
        }
        else if (Password != ConfirmPassword) {
            $("#Password").focus();
            $("#ConfirmPassword").focus();
            alert("Password and ConfirmPassword value not match.");
            return false;
        }
        else if (phone1 == "") {
            $("#phone1").focus();
            alert("Please Fill Phone 1");
            return false;
        }
        else if (Address1 == "") {
            $("#Address1").focus();
            alert("Please Fill Address1");
            return false;
        }
        else if (city == "") {
            $("#city").focus();
            alert("Please Fill City");
            return false;
        }
        else if (state == "") {
            $("#state").focus();
            alert("Please Select State");
            return false;
        }
        else if (zipcode == "") {
            $("#zipcode").focus();
            alert("Please Fill ZIP code");
            return false;
        }
        else if (jobtitle == "") {
            $("#jobtitle").focus();
            alert("Please Fill Job Title");
            return false;
        }

        else if (Organization == "") {
            $("#Organization").focus();
            alert("Please Fill Organization");
            return false;
        }
        else {
            return true
        }

    }

        </script>
        <style>
		
			   
   
								  
						
						 
		 

            .span {
                display: inline-block;
                width: 75px;
                height: 38px;
            }

							 
							 
								 
		 

            .form-control:focus {
										 
                box-shadow: none;
                border-color: #BA68C8
		 

								   
								   
            }

            .profile-button {
                background: rgb(99, 39, 120);
                box-shadow: none;
                border: none
            }

                .profile-button:hover {
                    background: #682773
                }
			 

                .profile-button:focus {
                    background: #682773;
                    box-shadow: none
                }

                .profile-button:active {
                    background: #682773;
                    box-shadow: none
                }

            .back:hover {
								
                color: #682773;
                cursor: pointer
									 
            }
			

            .labels {
                font-size: 11px
            }

            .add-experience:hover {
                background: #BA68C8;
                color: #fff;
                cursor: pointer;
                border: solid 1px #BA68C8
            }
        </style>
        <div class="container-fluid" style="margin-bottom:15px;">
            <form class="container" action="/Registration/RegistrationSubmit" method="post" enctype="multipart/form-data" onsubmit="validateInputs(e);">
                <input name="ID" value="@Model.ID" hidden />
                <div class="row">
                    <div class="col-4">
                        <h3 style="color: black; font-weight: bold">
                            @Model.firstname @Model.lastname's Profile
                        </h3>
                        <h4 class="magi-justify-content-space-between" style="text-align: right; vertical-align: top; padding:7px">
																																			  

                        </h4>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-2">
                        <h4 class="magi-justify-content-space-between" style="text-align: right; vertical-align: top; padding:7px">
                            @Html.ActionLink("Edit", "Registration", "RegistrationNew", new { userID = Model.ID }, new { @class = "btn btn-outline-warning" })

                        </h4>
                    </div>
			  
						 
											   
																					
											
					 

																															   
					 
						
					 
											   
						 

																																		 
						 

							
						 

																																		
				  

						 
							
											 

					 
                </div>
                <div class="row">
                    <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center py-2">
                            @if (Model.Uimg == null)
                            {
                                <img alt="" id="image" src="@Url.Content("aa")" style="display:  10px;" height: 278px; width: 266px; />
                            }
                            else
                            {
                                if (Model.Uimg != null)
                                {
                                    <img alt="" id="image1" src="@Url.Content(Model.Uimg)" style="display: 10px; height: 278px; width: 266px;" />
                                }
										 

                                else
                                {
                                    <img alt="" id="image" src="@Url.Content(Model.Uimg)" style="display: 10px; height: 278px; width: 266px;" />
                                }
                            }
																				   
																
										 

										
																				
															  
											   
											  
																				   
																
										 
										
                        </div>
                    </div>
                    <div class="col-md-7 border-right">
                        <div class="row mt-2">
																			   
																 
										 
										
																					  
																   
											   
											  
																				 
															   
										 
										
																			   
															 
											   
											  
																				   
																
										 
										
								  
				  

											  
									   
		  
			   
				  
                            <div class="prof-info">
                                <div class="card">
                                    <div class="prof-data">
                                        <h4 class="mt-3 mb-2">Identification</h4>
                                        <table class="table table-bordered">
                                            <tr>
                                                <td style="font-weight:bold">Salutation</td>
                                                <td>@Model.salutationzID1</td>
                                                <td style="font-weight:bold">First Name</td>
                                                <td>@Model.firstname</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold">Middle Name</td>
                                                <td>@Model.middlename</td>

													   
														  
														  
										 
																		
											
                                                <td style="font-weight:bold">Last Name</td>
                                                <td>@Model.lastname</td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bold">Suffix</td>
                                                <td>@Model.suffixvalue</td>
                                                @*</tr>
                                                    <tr>*@
                                                <td style="font-weight:bold">Nick name</td>
                                                <td>@Model.nickname</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold">Sign In Account ID</td>
                                                <td>@Model.signinaccountid</td>
                                                @*</tr>
                                                    <tr>*@
                                                <td style="font-weight:bold">Email</td>
                                                <td>@Model.mainemail</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold">Send Mail To</td>
                                                <td>@Model.sendemailto</td>
                                                @*</tr>
                                                    <tr>*@
                                                <td style="font-weight:bold">Country</td>
                                                <td>@Model.country</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold">State</td>
                                                <td>@Model.State</td>
                                                @*</tr>
                                                    <tr>*@
                                                <td style="font-weight:bold">Job Title</td>
                                                <td>@Model.jobTitle</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="prof-info">
                                        <div class="prof-data">
                                            <h4 class="mt-3 mb-2">
                                                Contact Informaton
                                            </h4>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td style="font-weight:bold">Personal Bio</td>
                                                    <td>@Model.personalbiography</td>

                                                    <td style="font-weight:bold">Mobile No</td>
                                                    <td>@Model.phone1</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight:bold">Email</td>
                                                    <td>@Model.mainemail</td>

                                                    <td style="font-weight:bold">Skype Address</td>
                                                    <td>@Model.skypeaddress</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight:bold">Linked IN</td>
											  
				  
				 
														 
                                                    <td>@Model.linkedinURL</td>
			   
			  
															   
										
				  
				 
																	
												
			   
			  
															
									  
				  
				 
																	  
												
			   
			  
																	
											  
				  
				 
														 
											   
			   
			  
			  

                                                    <td style="font-weight:bold">Organization</td>
                                                    <td>@Model.organization</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight:bold">Degree & Certificate</td>
                                                    <td>@Model.degreesandcertifications</td>

					
					
					
			   
					  
			   
                                                    <td style="font-weight:bold">Website</td>
                                                    <td>@Model.website</td>
                                                </tr>
                                            </table>
                                        </div>

							
					  
				
			   
						   
					  

							 
					  
				

			   
							
						

							
					  
				
			   
							  
						 

						  
					   
				

                                    </div>
                                </div>

			  
			 
			  

				   
				  
				 



			   
			  
			 
																					
																				 
																					
																			   
																  
																   
																			  
																					
																					 
																  
											
																				 

			  

				 
																													
																													   


			 



			





																					 
											
					
																								  
																			
		   
																
																   
																					  
																				   
																					 
																					
																
			
		   
		   
                            </div>

                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>
	   

</body>

