
@{
    ViewBag.Title = "EventOnCloud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Css/multiple-select.css" rel="stylesheet" />
<script src="/Scripts/multiple-select.js" type="text/javascript"></script>
@* Video *@
<link href="/Css/video-js.css" rel="stylesheet" />
<script src="/Scripts/video.min.js" type="text/javascript"></script>
<script src="/Scripts/Youtube.js" type="text/javascript"></script>
<style>
    .lblTitleTop
    {
        color: #00008b;
        font-weight: bold;
        background-color: transparent;
        font-weight: 700;
    }
</style>
<input type="hidden" value="@ViewBag.ShowUpdateEventPopup" id="showUpdatePopUP" />
<div class="container-fluid  mt-3">
    <div class="row">
        <div class='magiSidebarWrapper pe-md-0 mb-3 mb-md-0'>
            @if (ViewBag.leftPanel_Visible == true)
            {
                Html.RenderAction("_PartialLeftPanel", "MyMagi");
            }
            @{
                Html.RenderAction("ChatPanelAction", "MyMagi");
            }
        </div>
        <div class="col-md-8 col-lg-9 flex-grow-1">
            <div class="row">
                <div class="col-md-8 ">
                    @Html.Raw("<h2 class=''>" + @ViewBag.PageTitle + "</h2>")
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-wrap justify-content-end">
                        @{
                            if (Model.HelpIconInfo != null)
                            {
                                if ((Model.HelpIconInfo.PageIconVisible))
                                {
                                    string bAutoplay = (Model.HelpIconInfo.bAutoPlay) ? "true" : "false";
                                    <input type="hidden" id="vidAutoPlayType" value="@bAutoplay" />
                                    @Html.Raw("<input id='PageHelpIcon' type='image' src='/images/icons/videoPlay2.png' value='' width='32' class='me-1 mb-1' style='vertical-align: middle;'/>")
                                }
                            }
                        }
                        @if (ViewBag.VirtualDropdown_Visible)
                        {
                            <select id="VirtualEventDropDown" class="mb-1 me-1">
                                @if (Model.ddEventVirtualData != null)
                                {
                                    foreach (System.Data.DataRow dr in Model.ddEventVirtualData.Rows)
                                    {
                                        @Html.Raw("<option value='" + dr["pKey"] + "' " + ((ViewBag.SelectedDropDown == dr["pKey"].ToString()) ? "selected>" : ">") + dr["strText"] + "</option>")
                                    }
                                }
                            </select>
                        }
                        <a id="btnReturn" href="@ViewBag.ReturnUrl" type="button" class="btn mb-1 mb-1">Return</a>
                    </div>
                </div>
            </div>
            <div class="magi-content-wrapper">
                <div>
                    <input type="hidden" id="hdfeventaudio" value="@ViewBag.hdfeventaudio" />
                    <input type="hidden" id="hdfresource" value="@ViewBag.hdfresource" />
                    <input type="hidden" id="hdfNetworkingLounge" value="@ViewBag.hdfNetworkingLounge" />
                    <input type="hidden" id="hdfEducationCenter" value="@ViewBag.hdfEducationCenter" />
                </div>

                <div>
                    <button type="button" id="btnInternetOpen" class="btn mb-1 pull-right">Test Internet Speed</button>
                </div>

                <div class="col-md-12  mt-2">
                    <label id="lblMsg" style="width:100%;height:40px;border:1px solid black; padding-top:5px; display:none"></label>
                </div>
                <div class="col-md-12  mt-1">
                    <label id="lblContent">@Html.Raw(ViewBag.lblContent)</label>
                </div>
                <div class="col-md-12 centered magiEventCloudWrapper">
                    <div class="justify-content-between  ps-3 pe-3">
                        <div class="col-md-12 d-flex justify-content-center flex-wrap">

                            <div class="mx-4 mb-5 centered col-xxl-4 col-md-5 col-sm-9 ">
                                <div id="EducationCenterDiv" onclick="location.href='/Virtual/EducationCenter';" title="Click to enter the Education Center" class="square event-square pull-right" style="cursor: pointer;">
                                    <img src="/Images/Icons/EducationCenter.jpg" alt="Education Center" class="img-fluid" />
                                </div>
                            </div>
                            @if (ViewBag.dvExhibhitHall)
                            {
                                <div class="mx-4 mb-5 centered col-xxl-4 col-md-5 col-sm-9 " id="dvExhibhitHall">
                                    <div onclick="SETURLWindow();" title="Exhibits" style="cursor: pointer;" class="square event-square">
                                        <img src="/Images/Icons/Exhibitshall.jpg" alt="Education Center" class="img-fluid" />
                                    </div>
                                </div>
                            }
                            @if (ViewBag.dvSponsorDirectory)
                            {
                                <div class="mx-4 mb-5 centered col-xxl-4 col-md-5 col-sm-9 " id="dvSponsorDirectory">
                                    <div id="EventSponsorDiv" onclick="location.href='/ExhibitorDirectory';" title="Click to see the Event Sponsor Directory" style="cursor: pointer;" class="square event-square">
                                        <img src="/Images/Icons/SponsorDirectory.jpg" alt="Sponsor Directory" class="img-fluid" />
                                    </div>
                                </div>
                            }
                            <div class="mx-4 mb-5 centered col-xxl-4 col-md-5 col-sm-9 ">
                                <div id="NetworkingLoungeDiv" onclick="location.href='/Virtual/NetworkingLounge';" title="Click to go to your My Network page" style="cursor: pointer;" class="square event-square pull-right">
                                    <img src="/Images/Icons/NetworkingLounge.jpg" alt="Networking Lounge" class="img-fluid" />
                                </div>
                            </div>
                            <div class="mx-4 mb-5 centered col-xxl-4 col-md-5 col-sm-9 ">
                                <div id="ResourceDiv" onclick="location.href='/Virtual/ResourceSupportCenter';" title="Click visit the Resource & Support Center" style="cursor: pointer;" class="square event-square">
                                    <img src="/Images/Icons/ResourceSupportCenter.jpg" alt="Resource Support Center" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rwInstr" tabindex="-1" aria-labelledby="rwInstr" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header modalBlueHeader">
                    <h5 class="lblTitle pull-right">Navigation Instructions</h5>
                    <div class="text-center align-items-center">
                        <input type="checkbox" id="chkDontShowInstruction" /><label for="chkDontShowInstruction" class="ms-1">Don't show this again</label>
                    </div>
                    <div>
                        <button id="closeModalInstr" type="button" class="btn btnOrange" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div style="height:600px; overflow-y:auto;">
                        <div class="col-md-12 p-1">
                            <label id="lblinstructions">@Html.Raw(ViewBag.lblinstructions)</label>
                        </div>
                        <div class="text-center">
                            <input type="checkbox" id="chkDontShowInst" /><label for="chkDontShowInst" class="ms-1">Don't show this again</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rwInternetSpeed" tabindex="-1" aria-labelledby="rwInternetSpeed" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:600px ; Height:150px; ">
            <div class="modal-content">
                <div class="modal-header modalBlueHeader">
                    <h5 class="lblTitle">Internet Connection Speed</h5>
                    <div>
                        <button id="closeModal" type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex">
                        <label id="lbldownloadSpeed" class="lblTitleTop mx-5 my-2 col-md-8">ViewBag.lbldownloadSpeed</label>
                        <label id="lblDownloadSpeedDisplay" style="float:right" class="lblTitleTop ml-1 my-2 col-md-4">ViewBag.lblDownloadSpeedDisplay</label>
                    </div>
                    <div class="d-flex">
                        <label id="lbluploadspeed" class="lblTitleTop mx-5 my-2">ViewBag.lbluploadspeed</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rwEventUpdate" tabindex="-1" aria-labelledby="rwEventUpdate" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:850px ; ">
            <div class="modal-content">
                <div class="modal-header modalBlueHeader">
                    <h5 class="lblTitle">Event Updates</h5>
                    <div>
                        <button id="closeModalEvent" type="button" class="btn btnOrange" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <label id="lblinstructions">@Html.Raw(ViewBag.lblEventUpdate)</label>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modelHelpMedia" tabindex="-1" aria-labelledby="modelHelpMedia" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header justify-content-end" style=" background-color: #fff !important; padding: 0px !important;">
                <label id="closeHelpMedia" class="pull-right  float-end mb-2" data-bs-dismiss="modal" aria-label="Close" style="cursor:pointer;float:right"><i class="fa fa-close"></i></label>
            </div>
            <div class="modal-body" id="modelHelpMediaBody">
                <div class="row p-2">
                    @{
                        if (Model.HelpIconInfo != null)
                        {
                            if ((Model.HelpIconInfo.PageIconVisible))
                            {
                                <input type="hidden" id="LogIDinfo" value="" />
                                <input type="hidden" id="pageVideoLink" value="@Model.HelpIconInfo.PageDocumentLink" data-filename="@Model.HelpIconInfo.PageFileName" data-usetype="@Model.HelpIconInfo.PageValue" data-type="@Model.HelpIconInfo.PageMediaType" data-mime="@Model.HelpIconInfo.PageMime" />
                                <video id="pageVideoContent" class="video-js" controls preload="auto" width="300" height="400">
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    </p>
                                </video>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelVideoPlayer" tabindex="-1" aria-labelledby="modelVideoPlayer" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header justify-content-end" style=" background-color: #fff !important; padding: 0px !important;">
                <label id="closeVideoPlayer" class="pull-right  float-end mb-2" data-bs-dismiss="modal" aria-label="Close" style="cursor:pointer;float:right"><i class="fa fa-close"></i></label>
            </div>
            <div class="modal-body" id="modelHelpMediaBody">
                <div class="row p-2">
                    <video id="VideoPlayer" class="video-js" controls preload="auto" width="300" height="400">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                        </p>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelIframeVideo" tabindex="-1" aria-labelledby="modelIframeVideo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-end" style=" background-color: #fff !important; padding: 0px !important;">
                <label id="closeIframeVideo" class="pull-right  float-end mb-2" data-bs-dismiss="modal" aria-label="Close" style="cursor:pointer;float:right"><i class="fa fa-close"></i></label>
            </div>
            <div class="modal-body" id="modelHelpMediaBody">
                <div class="row p-2">
                    <iframe id="IframeVideo" width="400" height="400"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelNavInstructions" tabindex="-1" aria-labelledby="modelNavInstructions" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modalBlueHeader">
                <h5 class="modal-title" id="NavigationInstructions">Navigation Instructions</h5>
                <div>
                    <button id="closeNavInstructions" type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="row p-2">
                    <div class="col-xs-12" id="modalNavBody" style="height:400px; overflow-y:scroll;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelEvtUpdatesVirtual" tabindex="-1" aria-labelledby="modelEvtUpdatesVirtual" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modalBlueHeader">
                <h5 class="modal-title" id="EvtUpdatesVirtual">Event Updates</h5>
                <div>
                    <button id="closeEvtUpdatesVirtual" type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="row p-2">
                    <div class="col-xs-12 mb-1" id="modalEvtUpdatesVirtualBody" style="height:400px; overflow-y:scroll;">
                    </div>
                    <div class="text-center">
                        <button id="closeEvtUpdatesVirtual" type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.OpenSurveyRadWindow)
{
    <div class="modal fade" id="rwSurveyQuestion" tabindex="-1" aria-labelledby="rwSurveyQuestion" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modalBlueHeader">
                    <h5 class="modal-title" id="rwSurveyQuestionTitle">Registration Questions</h5>
                </div>
                <div class="modal-body p-0">
                    <div class="row p-2">
                        <div class="col-xs-12 pt-1">
                            @Html.Raw(ViewBag.lblRegText)
                        </div>
                        <div class="text-center">
                            <button id="cmdSaveQ" type="button" class="btn">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rwSurveyQuestion').modal('show');
            $('#cmdSaveQ').click(function (e) {
                e.preventDefault();
                var result = CommonFunctions.AjaxCall('Post', '/Virtual/cmdSaveQClick', '', 'json', 'Error While Updating Schedule');
                if (result !== null && result !== "ERROR") {
                    if (result.msg === "OK") {
                        parent.location.href = result.URL;
                    }
                    else
                        CommonFunctions.Alert("Error Occurred while updating");
                }
                else
                    CommonFunctions.Alert("Error Occurred while updating");
            });
        });
    </script>
}
<script type="text/javascript">
    var timeoutId;
    var sound = document.createElement("audio");
    if (!("src" in sound)) {
        sound = document.createElement("bgsound");
    }
    document.body.appendChild(sound);

    $(document).ready(function () {

        var showEventPopup = $('#showUpdatePopUP').val();

        if (showEventPopup) {
            $('#rwEventUpdate').modal('show');
        } else {
            var v = getCookie('INST');
            if (v == '' || v == '-1') {
                $('#rwInstr').modal('show');
            }
        }


        $('#closeModalEvent').on('click', function () {
            var v = getCookie('INST');
            if (v == '' || v == '-1') {
                $('#rwInstr').modal('show');
            }
        });


        $('#btnInternetOpen').on('click', function () {
            var result = CommonFunctions.AjaxCall('Get', '/MyMAGI/CheckInternetSpeed', '', '', 'Error While Fetching Data.');
            if (result !== null || result !== "ERROR") {
                document.getElementById("lblDownloadSpeedDisplay").innerHTML = result.lblDownloadSpeedDisplay;
                document.getElementById("lbldownloadSpeed").innerHTML = result.lbldownloadSpeed;
                document.getElementById("lbluploadspeed").innerHTML = result.lbluploadspeed;
            }
            $('#rwInternetSpeed').modal('show');
        });

        $('#chkDontShowInstruction ,#chkDontShowInst').change(function () {

            if (this.checked) {
                $('#chkDontShowInstruction').prop('checked', true);
                $('#chkDontShowInst').prop('checked', true);
            } else {
                $('#chkDontShowInstruction').prop('checked', false);
                $('#chkDontShowInst').prop('checked', false);
            }
        });

        $('#closeModalInstr').on('click', function () {

            var name = 'INST';
            var ckInternal = document.getElementById('chkDontShowInstruction');
            var chkInternal = document.getElementById('chkDontShowInst');
            if (ckInternal || chkInternal) {
                if (ckInternal.checked && chkInternal.checked)
                    setCookie(name, 1, 1);
                //  window.Cookies.set('name', 1);
                //  set_cookie(name, '1', 100);
                else
                    setCookie(name, -1, 1);
                // window.Cookies.set('name', -1);
                //set_cookie(name, '-1', -1);
            }
        });

        $("#EducationCenterDiv").hover(function () {
            if (!timeoutId) {
                timeoutId = window.setTimeout(function () {
                    timeoutId = null; // EDIT: added this line
                    playAudio('EducationCenter')
                }, 2000);
            }
        }, UserMouseOut);


        $("#EventSponsorDiv").hover(function () {
            if (!timeoutId) {
                timeoutId = window.setTimeout(function () {
                    timeoutId = null; // EDIT: added this line
                    playAudio('EventSponsor')
                }, 2000);
            }
        }, UserMouseOut);
        $("#NetworkingLoungeDiv").hover(function () {
            if (!timeoutId) {
                timeoutId = window.setTimeout(function () {
                    timeoutId = null; // EDIT: added this line
                    playAudio('NetworkingLounge')
                }, 2000);
            }
        }, UserMouseOut);
        $("#ResourceDiv").hover(function () {
            if (!timeoutId) {
                timeoutId = window.setTimeout(function () {
                    timeoutId = null; // EDIT: added this line
                    playAudio('Resource')
                }, 2000);
            }
        }, UserMouseOut);

        $('#VirtualEventDropDown').multipleSelect({
            multiple: false, isopen: false, placeholder: 'Show All', selectAll: false, selectAllText: 'Select all', multiple: false, multipleWidth: 'auto', filter: false, width: 'auto', height: 28, maxHeight: 450, onClick: function () { onChangeVirtual(); },
        });

        function onChangeVirtual() {
            var Data = { DropDownValue: $('#VirtualEventDropDown').val() };
            switch ($('#VirtualEventDropDown').val()) {
                case "9":
                    var result = CommonFunctions.AjaxCall('Get', '/Home/GetNavigationInstructions', '', 'json', 'Error accessing text block data.');
                    if (result.msg === "OK") {
                        $('#modalNavBody').html(result.Content);
                        $('#modelNavInstructions').modal('show');
                    }
                    else
                        CommonFunctions.Alert(result.msg);
                    break;
                case "27":
                    var result = CommonFunctions.AjaxCall('Get', '/Home/GetEventUpdatesContent', '', 'json', 'Error loading Event Updates');
                    if (result.msg === "OK") {
                        $('#modalEvtUpdatesVirtualBody').html(result.Content);
                        $('#modelEvtUpdatesVirtual').modal('show');
                    }
                    else
                        CommonFunctions.Alert(result);
                    break;
                case "21":
                    OpenChatWindow();
                    break;
                default:
                    var result = CommonFunctions.AjaxCall('Post', '/Home/VirtualDropdownSelected', Data, 'json', 'Error Occurred while redirecting');
                    if (result.ActionType === "Redirect")
                        window.location.href = result.RedirectionUrl;
                    break;
            }
        }
    });

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function playSound(src) {
        try {

            sound.src = src;
            sound.play && sound.play().catch(function (error) {
                console.log("Kindly Click The Document First!")
            });
        }
        catch (error) {
            console.log("Kindly Click The Document First!")
        }
    }
    function playAudio(type) {
        if (type.toUpperCase() == "EVENTSPONSOR") {
            var path = $('#hdfeventaudio').val();
            if (path !== "")
                playSound(path);
        }
        else if (type.toUpperCase() == "RESOURCE") {
            var path = $('#hdfresource').val();
            if (path !== "")
                playSound(path);
        }
        else if (type.toUpperCase() == "EDUCATIONCENTER") {
            var path = $('#hdfEducationCenter').val();
            if (path !== "")
                playSound(path);
        }
        else if (type.toUpperCase() == "NETWORKINGLOUNGE") {
            var path = $('#hdfNetworkingLounge').val();
            if (path !== "")
                playSound(path);
        }
    }

    function UserMouseOut() {
        if (timeoutId) {
            window.clearTimeout(timeoutId);
            timeoutId = null;

        }
    }
    function SETURLWindow() {
        CommonFunctions.Alert("Use Chrome browser for Exhibit Hall");
        window.open("/forms/frmExhibitHall.aspx", "_self");
        return false;
    }

</script>
@if (Model.HelpIconInfo != null)
{
    if ((Model.HelpIconInfo.PageIconVisible))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var player = videojs("pageVideoContent", { "techOrder": ["html5", "youtube"], "ytcontrols": false, "autoplay": true, "preload": "auto", "loop": false });
                player.ready(function () {
                    var promise = player.play();
                    if (promise !== undefined) {
                        promise.then(function () {
                            // Autoplay started!
                        }, function (error) {
                            console.info(error);
                        });
                    }
                });
                player.on("ended", function () {
                    if (typeof alertify !== 'undefined') {
                        alertify.confirm('I have watched the entire video', function (e) {
                            CommonFunctions.AjaxCall('Post', '/Home/UpdateHelpLogTime', { ID: $('#LogIDinfo').val() }, 'json', 'Error Occurred while Updating Log');
                        });
                    }
                    else {
                        var r = confirm('I have watched the entire video');
                        if (r)
                            CommonFunctions.AjaxCall('Post', '/Home/UpdateHelpLogTime', { ID: $('#LogIDinfo').val() }, 'json', 'Error Occurred while Updating Log');
                        else
                            CommonFunctions.AjaxCall('Post', '/Home/UpdateHelpLogTime', { ID: $('#LogIDinfo').val() }, 'json', 'Error Occurred while Updating Log');
                    }
                });
                function PageVideoPlay(mediatype, sourceType, valueinfo) {
                    var vimeoResult = valueinfo.match(/(?:www\.|player\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/(?:[^\/]*)\/videos\/|album\/(?:\d+)\/video\/|video\/|)(\d+)(?:[a-zA-Z0-9_\-]+)?/i);
                    if (vimeoResult !== null) {
                        window.open(valueinfo, '_blank');
                    }
                    else {
                        if (mediatype.toLocaleLowerCase() === "video" || mediatype.toLocaleLowerCase() === "audio")
                            player.src({ type: sourceType, src: valueinfo });
                        if (mediatype.toLocaleLowerCase() === "video url") {
                            var youtubeResult = valueinfo.match(/(?:https?:\/\/)?(?:www\.)?youtu(?:\.be\/|be.com\/\S*(?:watch|embed)(?:(?:(?=\/[^&\s\?]+(?!\S))\/)|(?:\S*v=|v\/)))([^&\s\?]+)/);
                            if (youtubeResult !== null)
                                player.src({ type: 'video/youtube', src: valueinfo });
                            else
                                player.src(valueinfo);
                        }


                        $('#pageVideoContent').show();
                        $('#modelHelpMedia').modal('show');
                    }
                }
                function Logupdate(pvalue, fName, Autoplay) {
                    $('#LogIDinfo').val(0);
                    var data = {
                        type: pvalue,
                        fileName: fName,
                        bAutoplay: Autoplay,
                    }
                    var result = CommonFunctions.AjaxCall('POST', '/Home/UpdateHelpIconLog', data, 'json', 'Error Occurred while Updating Log');
                    if (result != null) {
                        if (result.msg === "OK") {
                            $('#LogIDinfo').val(result.LogResult);
                        }
                    }
                }
                var AutoplayPageVideo = $('#vidAutoPlayType').val();
                if (AutoplayPageVideo !== null) {
                    var elemDS = $('#pageVideoLink')[0].dataset;
                    var mType = elemDS["type"];
                    if (AutoplayPageVideo === "true") {
                        var fname = elemDS["filename"];
                        var uType = elemDS["usetype"];
                        Logupdate(uType, fname, true);

                        var valLink = $('#pageVideoLink').val();
                        var sType = elemDS["mime"];
                        if (mType.toLocaleLowerCase() === "document" || mType.toLocaleLowerCase() === "live url")
                            window.open(valLink, '_blank');
                        else
                            PageVideoPlay(mType, sType, valLink);
                    }
                }
                $('#PageHelpIcon').click(function (e) {
                    e.preventDefault();
                    var valLink1 = $('#pageVideoLink').val();
                    var elem1DS = $('#pageVideoLink')[0].dataset;
                    var mT1 = elem1DS["type"];
                    var sT1 = elem1DS["mime"];
                    var fname1 = elem1DS["filename"];
                    var uType1 = elem1DS["usetype"];
                    Logupdate(uType1, fname1, false);
                    if (mT1.toLocaleLowerCase() === "document" || mT1.toLocaleLowerCase() === "live url")
                        window.open(valLink1, '_blank');
                    else
                        PageVideoPlay(mT1, sT1, valLink1);
                });
                $('#closeHelpMedia').click(function () {
                    player.pause();
                });
            });
        </script>
    }
}