@model PagedList.IPagedList<Elimar.Models.InterestGroup>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<head>
    <script>
        $(document).ready(function () {
            var test=@(ViewBag.memmberPage.ToString().ToLower());
            debugger;
            if (test) {
                $("#group").hide();
                $("#members").show();
                $("#groupMembers").addClass("active");
                $("#interestGroups").removeClass("active");
            }
            else {
                $("#group").show();
                $("#members").hide();
            }
            $("#questionFilter").change(function () {

                var id = $(this).val();
                if (id != "" && id != null) {
                    $("#answerFilter").empty();
                    debugger;
                    $.get("Respomse_Bind", { questionID: id }, function (data) {
                        var v = "";
                        $.each(data, function (i, v1) {
                            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                        });
                        $("#answerFilter").prop('disabled', false).html(v);
                    });
                }
            });
            $("#addGroup").click(function () {
                var groupName = $("#groupName").val().trim();
                debugger;
                if ($("#groupName").val().trim() == "") {
                    return alert("Please enter the group name");
                }
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/InterestGroup/AddGroup",
                    traditional: true,
                    data: { 'name': $("#groupName").val() },
                    success: function (response) {
                        window.location.reload();
                    }
                });
            });
            $("#removeGroup").click(function () {
                var array = [];
                $("#groups input:checkbox:checked").each(function () {
                    array.push($(this).val());
                });
                if (array.length == 0) {
                    alert("please select any group to remove");
                    return;
                }
                debugger;
                $.ajax({
                    url: "/InterestGroup/RemoveGroup",
                    traditional: true,
                    data: { 'groups': array},
                    success: function (response) {
                        window.location.reload();
                    }
                });
            });
            $("#mainGroupCheck").change(function () {
                debugger;
                if ($("#mainGroupCheck").is(':checked')) {
                    debugger;
                    $("#groups").find('input[type=checkbox]').prop('checked', true);
                }
                else {
                    debugger;
                    $("#groups").find('input[type=checkbox]').prop('checked', false);
                }
            });
            var id ;
            $(".editGroupIcon").click(function () {
                id = $(this).parent().attr('id');
                $("#EditGroupModal").find('input').val(id);
                debugger;
            })
            $("#EditGroup").click(function () {
                var val = $("#EditGroupModal").find('input').val();
                if (val.trim() == "") {
                    alert("Please enter the group name");
                    return;
                }
                debugger;
                $.ajax({
                    url: "/InterestGroup/EditGroup",
                    type:"Post",
                    traditional: true,
                    data: { 'previous':id,'current':val },
                    success: function (response) {
                        debugger;
                        window.location.reload();
                    },
                    error: function (response) {
                        debugger;
                        alert("group with same name already exist");
                    }

                });
            });

            $("#saveToGroup").click(function (e) {
                var array = [];
                $("#membercheckbox input:checkbox:checked").each(function () {
                    array.push($(this).val());
                });
                var val = $("#AddToGroupModal").find('select :selected').val();
                debugger;
                if (array.length == 0) {
                    alert("please select account to add in group");
                    $('#AddToGroupModal').modal('toggle')
                    return;
                }
                debugger;
                $.ajax({
                    url: "/InterestGroup/AddToGroup",
                    traditional: true,
                    data: { 'accounts': array , 'group' : val },
                    success: function (response) {
                        window.location.reload();
                    }
                });
            })
            $("#membermaincheckbox").change(function () {
                debugger;
                if ($("#membermaincheckbox").is(':checked')) {
                    debugger;
                    $("#membercheckbox").find('input[type=checkbox]').prop('checked', true);
                }
                else {
                    debugger;
                    $("#membercheckbox").find('input[type=checkbox]').prop('checked', false);
                }
            });
            var account = 0;
            $(".editMemberGroup").click(function () {
                $("#GroupList").empty();
                var groupName = $(this).closest('td').siblings().get(6).innerHTML;
                account = $(this).closest('td').siblings().get(1).innerHTML;
                var members = $(this).closest('td').siblings().get(7).innerHTML;
                debugger;
                if (members == "0") {
                    //location.reload();

                    alert("No member found");
                    setTimeout(
                        function () {
                            $("#RemoveGroupModal").modal('toggle');
                        }, 500);
                    return;
                }
                var groups = groupName.split(',');
                for (var i = 0; i < groups.length ; i++) {
                    $("#GroupList").append("<tr><td>" + groups[i].toString().trim() + "</td><td class = removeFromGroup ><button style='float: right' class ='btn btn-outline-warning my-1 ' type='button'>Remove</button></td></tr>")
                }
            });

            $("#GroupList").on('click', 'button', function () {
                var group = $(this).parent().closest('td').siblings().get(0).innerHTML;
                debugger;
                $.ajax({
                    url: "/InterestGroup/RemoveMember",
                    type:"Post",
                    traditional: true,
                    data: { 'group': group, 'account': account },
                    success: function (response) {
                        window.location.reload();
                    }
                });
            })
            $("#questionFilter option[value=@ViewData["Question"]]").attr("selected", "selected");
            if ('@ViewBag.Answer' != '') {
                debugger;
                $("#answerFilter").empty();
                $("#answerFilter").append(`<option value=@ViewBag.Answer>@ViewBag.Answer</option >`);
                debugger
            }

        });
    </script>
    <style>
        .toltip {
            position: relative;
            display: inline-block;
        }

        .toltip .tooltiptext {
            visibility: hidden;
            width: 100px;
            color: #ffbb33;
            text-align: center;
            border-radius: 6px;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .toltip:hover{
            cursor:pointer;
        }

        .toltip:hover .tooltiptext {
            visibility: visible;
        }

        a:hover {
            color: #ffbb33;
            cursor: pointer;
        }

        .active {
            background: #6e6c6c;
            color: white;
        }

        a {
            color: inherit;
        }

        i:hover {
            cursor: pointer;
        }

        i {
            color: #ffbb33;
            font-size: 20px;
        }

        thead {
            background: #6e6c6c;
            color: white;
        }

        .form-lable {
            font-size: 12px;
        }

        input {
            max-width: none;
        }

        #addToGroup {
            background-color: #ffc10787;
        }

        #addToGroup:hover {
            background-color: #ffbb33;
            color: white;
        }

        .btn:hover {
            cursor: pointer;
        }

        html, body {
            width: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }

        .modal {
            top: 30%;
        }

        a:hover {
            cursor: pointer;
        }

        .modal-header {
            background-color: #6e6c6c;
            color: white
        }

        td, th {
            text-align: center;
        }

        .modal td {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <span style="color: #FF8800; font-size: 35px;">Manage Interest Groups</span>
        <div style="border-bottom: solid #6e6c6c 2px; ">
            <table style="margin-top: 8px; background-color: whitesmoke; ">
                <tr style=" font-size:16px; ">
                    @if ((bool)@ViewData["groupView"])
                    {
                        <td id="interestGroups" class="active" style="padding: 6px 6px 2px 6px; cursor:pointer; ">@Html.ActionLink("Interest Group", "CreateGroup", new { membersPage = false })</td>
                    }
                    @if ((bool)@ViewData["memberView"])
                    {
                        <td id="groupMembers" style="padding: 6px 6px 2px 6px; cursor: pointer; ">@Html.ActionLink("Group Members", "CreateGroup", new { membersPage = true })</td>
                    }
                </tr>
            </table>
        </div>
        @if (!ViewBag.memmberPage)
        {
            <div id="group" style="margin-top:2px;">
                <div style="margin-top:10px;">
                    @if ((bool)@ViewData["groupAdd"])
                    {
                        <button class="btn p-0" data-bs-toggle="modal" data-bs-target="#AddGroupModal">
                            <i class="fa-solid fa-plus-circle"></i>
                        </button>
                    }
                    @if ((bool)@ViewData["groupDelete"])
                    {
                        <a href="#" class="btn p-0"><i id="removeGroup" class="fa-solid fa-minus-circle "></i></a>
                    }
                    </div>
                <div class="modal fade" id="AddGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div style="background-color: #6e6c6c; color:white" class="modal-header p-1">
                                <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label>Group Name</label>
                                <input id="groupName" style="width:100%" class="form-control" type="text" />
                            </div>
                            <div class="modal-footer p-1">
                                <button id="addGroup" type="button" class="btn btn-outline-warning">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped" style="width:50%;">
                    <thead>
                        <tr class="active">
                            @if ((bool)@ViewData["groupDelete"])
                            {
                                <th style="width:50px; padding-left:10px;"><input id="mainGroupCheck" type="checkbox" /></th>
                            }
                            <th>Group Name</th>
                            <th>No. Of Members</th>
                            @if ((bool)@ViewData["groupEdit"])
                            {
                                <th>Edit</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="groups">
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if ((bool)@ViewData["groupDelete"])
                                {
                                    <td style="padding-left: 10px;"><input type="checkbox" value="@item.GroupName" /></td>
                                }
                                <td>@item.GroupName</td>
                                <td>@item.NoOfMembers</td>
                                @if ((bool)@ViewData["groupEdit"])
                                {
                                    <td><button class="btn p-0" data-bs-toggle="modal" data-bs-target="#EditGroupModal" id="@item.GroupName.Trim()"><i class="fa-solid fa-pen-to-square editGroupIcon"></i></button></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="modal fade" id="EditGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div style="background-color: #6e6c6c; color:white" class="modal-header p-1">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Group Name</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label>Group Name</label>
                                <input id="groupName" style="width:100%" class="form-control" type="text" />
                            </div>
                            <div class="modal-footer p-1">
                                <button id="EditGroup" type="button" class="btn btn-outline-warning">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
    <div id="members" style="display:none;">
        <form class="input-group-sm py-2" asp-action="CreateGroup" method="get">
            <input hidden value="@(ViewBag.memmberPage.ToString().ToLower())" name="membersPage" />
            <div class=" row">
                <div class="col-2">
                    <span class="form-lable">Last Name, First Name:</span><br />
                    <input class="form-control" id="nameSearch" name="nameSearch" value="@ViewData["NameFilter"]" />
                </div>
                <div class="col-2">
                    <span class="form-lable">Organization:</span><br />
                    <input class="form-control" id="organizationSearch" name="organizationSearch" value="@ViewData["OrganizationFilter"]" />
                </div>
                <div class="col">
                    <span class="form-lable">Industry Sector:</span><br />
                    @Html.DropDownList("Industry", null, new { @class = "form-select" })
                </div>
                <div class="col">
                    <span class="form-lable">Questions:</span><br />
                    @Html.DropDownList("questionFilter", null, new { @class = "form-select" })
                </div>
                <div class="col">
                    <span class="form-lable">Answers:</span><br />
                    @Html.DropDownList("answerFilter", null, new { @class = "form-select" })
                </div>
                <div class="col">
                    <span class="form-lable">Group Name:</span><br />
                    @Html.DropDownList("groupFilter", null, new { @class = "form-select" })
                </div>
                <div class="col-4" style="position:relative">
                    <div style="position:absolute; bottom:0;">
                        <!--<i style="margin-right:10px;" class="fa fa-magnifying-glass fa-2x"><button type="submit"></button></i>-->
                        <button type="submit" class="btn p-0">
                            <i style="margin-right:10px;" class="fa fa-magnifying-glass fa-2x"></i>
                        </button>
                        <a class="btn p-0" href="~/InterestGroup/CreateGroup?membersPage=true"><i class="fa fa-rotate-left fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </form>
        @if ((bool)@ViewData["memberAdd"])
        {
            <button id="addToGroup" type="button" class="btn my-1" data-bs-toggle="modal" data-bs-target="#AddToGroupModal">Add To Group</button>
        }
        <table id="members" style="border: 2px solid #6e6c6c " class=" table table-striped">
            <thead>
                <tr>
                    @if ((bool)@ViewData["memberAdd"])
                    {
                        <th><input id="membermaincheckbox" type="checkbox" /></th>
                    }
                    <th>ID</th>
                    <th>
                        <div class="toltip">
                            <a style="color:white" href="~/InterestGroup/CreateGroup?pageNo=@ViewData["Page"]&nameSort=@ViewData["NameSortParm"]&membersPage=true&nameSearch=@ViewData["NameFilter"]&organizationSearch=@ViewData["OrganizationFilter"]&Industry=@ViewData["IndustryFilter"]&answerFilter=@ViewData["Answer"]&groupFilter=@ViewData["Group"]">Name</a>
                            <span class="tooltiptext">(Click to sort)</span>
                        </div>
                    </th>
                    <th>Job Title</th>
                    <th>Department</th>
                    <th>Organization</th>
                    <th>Groups</th>
                    <th>No of Members</th>
                    @if ((bool)@ViewData["memberDelete"])
                    {
                        <th>Edit</th>
                    }
                </tr>
            </thead>
            <tbody id="membercheckbox">
                @foreach (var item in Model)
                {
                    <tr>
                        @if ((bool)@ViewData["memberAdd"])
                        {
                            <td><input type="checkbox" value="@item.MemberInfo.ID"  /></td>
                        }
                        <td style="width:100px;" id="accountID">@item.MemberInfo.ID</td>
                        <td style="width:300px;">@item.MemberInfo.name</td>
                        <td style="width:300px;">@item.MemberInfo.jobTitle</td>
                        <td style="width:300px;">@item.MemberInfo.department</td>
                        <td style="width:400px;">@item.MemberInfo.organization</td>
                        <td style="width:400px;" id="groupsName">@item.GroupName</td>
                        <td class="px-5" style="text-align : right">@item.NoOfMembers</td>
                        @if ((bool)@ViewData["memberDelete"])
                        {
                            <td class="editMemberGroup"><button class="btn p-0" data-bs-toggle="modal" data-bs-target="#RemoveGroupModal"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div id='Paging' style="text-align:center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("CreateGroup", new { pageNo = page, membersPage = true, nameSearch = @ViewData["NameFilter"], organizationSearch = @ViewData["OrganizationFilter"], Industry = @ViewData["IndustryFilter"], answerFilter = @ViewData["Answer"], groupFilter = @ViewData["Group"], questionFilter = @ViewData["Question"] }))
        </div>
        @*<div class="container d-inline " style="position:absolute;left:40%;">
            <span style="font-size:20px">Pages</span>
            <a style="align-self:center; font-size:15px; margin-left:10px; margin-bottom:30px;" href="~/interestGroup/CreateGroup?pageNo=1&membersPage=true&nameSearch=@ViewData["NameFilter"]&organizationSearch=@ViewData["OrganizationFilter"]&Industry=@ViewData["IndustryFilter"]&answerFilter=@ViewData["Answer"]&groupFilter=@ViewData["Group"]"><<</a>
            @for (int i = ViewBag.firstPage; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.Page == i)
                {
                    <a style="text-align:center; font-size:20px;margin-left:10px; color:orangered" href="~//interestGroup/CreateGroup?pageNo=@i&membersPage=true&nameSearch=@ViewData["NameFilter"]&organizationSearch=@ViewData["OrganizationFilter"]&Industry=@ViewData["IndustryFilter"]&answerFilter=@ViewData["Answer"]&groupFilter=@ViewData["Group"]">@i</a>
                }
                else
                {
                    <a style="text-align:center; font-size:20px;margin-left:10px; color:black" href="~/interestGroup/CreateGroup?pageNo=@i&membersPage=true&nameSearch=@ViewData["NameFilter"]&organizationSearch=@ViewData["OrganizationFilter"]&Industry=@ViewData["IndustryFilter"]&answerFilter=@ViewData["Answer"]&groupFilter=@ViewData["Group"]">@i</a>
                }
            }
            <a style="align-self:center; font-size:15px; margin-left:10px; margin-bottom:30px;" href="~/interestGroup/CreateGroup?pageNo=@ViewBag.noOfPage&membersPage=true&nameSearch=@ViewData["NameFilter"]&organizationSearch=@ViewData["OrganizationFilter"]&Industry=@ViewData["IndustryFilter"]&answerFilter=@ViewData["Answer"]&groupFilter=@ViewData["Group"]">>></a>
        </div>*@
        <div class="modal fade" id="AddToGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div style="background-color: #6e6c6c; color:white" class="modal-header p-1">
                        <h5 class="modal-title" id="exampleModalLabel">Add To Group</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label>Select Group</label>
                        @Html.DropDownList("GroupData", null, new { @class = "form-select" })
                    </div>
                    <div class="modal-footer p-1">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="saveToGroup" type="button" class="btn btn-outline-warning">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="RemoveGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div style="background-color: #6e6c6c; color:white" class="modal-header p-1">
                        <h5 class="modal-title" id="exampleModalLabel">Remove From group</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-1">
                        <h5 class="modal-title"> Group Name</h5>
                        <table class="table" id="GroupList">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
        }
    </div>
    <br />
</body>