
@model Elimar.Models.UserResponse
@{
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        .span {
		 
            display: inline-block;
            width: 75px;
            height: 38px;
        }

        input {
		 
            border: 1px solid black;
        }

        td {
		 
            padding-left: 5px
        }

        table {
		 
            border-collapse: separate;
            border-spacing: 0 1em;
        }

        canvas {
		 
            position: relative;
            width: 300px;
            height: 300px;
            overflow: auto;
        }

        #result {
		 
            display: block;
            position: relative;
            margin-top: 40px;
        }

        .face {
		 
            position: absolute;
            height: 0px;
            width: 0px;
            background-color: transparent;
            /*border: 4px solid rgba(10,10,10,0.5);*/
        }
            max-width:none;
        }	
    </style>
    <script>
        $(document).ready(function () {
            $("#Saveid").click(function () {
                $("#save").val(true);
            })
            $("#Organization").select2();
            $("#Country").change(function () {

                var id = $(this).val();
                if (id != "" && id != null) {
                    $("#State").empty();
                    $.get("State_Bind", { country_id: id }, function (data) {
                        var v = "<option value=0> Select State</option>";

                        $.each(data, function (i, v1) {
                            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

                        });

                        $("#State").prop('disabled', false).html(v);
                    });
                }
            });
            $("#Country").change(function () {
                var id = $(this).val();
                if (id != "" && id != null) {
                    $("#Timezone").empty();

                    $.get("TimeZone_Bind", { country_id: id }, function (data) {

                        var v = "<option value=0> Select TimeZone</option>";
                        $.each(data, function (i, v1) {
                            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

                        });

                        $("#Timezone").prop('disabled', false).html(v);
                    });
                }
            });
        });
        $(window).on('load', function () {
        var dd = 22;



        $("#Country option[value=@Model.countrypkey]").attr("selected","selected");
        $("#State option[value=@Model.state_pkey]").attr("selected","selected");
        $("#Timezone option[value=@Model.timezone]").attr("selected","selected");
        $("#Organization option[value=@Model.organization]").attr("selected", true);
        var org = $('#Organization :selected').text();
        $("#select2-Organization-container").text(org);
            $("#Salutation1 option[value=@Model.salutation1]").attr("selected", "selected");
            $("#Suffix option[value=@Model.suffix]").attr("selected", "selected");
            $("#PhoneType1 option[value=@Model.phonetype1]").attr("selected", "selected");
            $("#PhoneType2 option[value=@Model.phonetype2]").attr("selected","selected");
    });
    </script>
    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
       var imageurl = '@Url.Content(ViewBag.Baseurl + "/User-images/empty image.png")';
    $("#result").attr("src", imageurl);
    });
   function fileCheck(elm)
   {

    var fn = String($(elm).val());
    var filename = fn.match(/[^\\/]*$/)[0]; // remove C:\fakename
    var imageurl = '@Url.Content("~/User-images/imagename")';
    imageurl = imageurl.replace('imagename', filename);
    $("#result").attr("src", imageurl);
    $("#image1").attr("src", imageurl);
    var data = filename.split(".")[1];

    if (data.toLowerCase() != 'jpg' && data.toLowerCase() != 'png' && data.toLowerCase() != 'gif')
    {
        alert("Invalid file, Please select jpg,png,gif files");
        var filename = $("#userimageName").val().slice(1);

        $("#file").val('');
        var imageurl = '@Url.Content("~")' + filename;

        $("#image1").attr("src", imageurl);

        $("#result").attr("src", imageurl);

    return false;
    }

   }

    function fileCheckdoc(elm)
   {

    var fn = String($(elm).val());
    var filename = fn.match(/[^\\/]*$/)[0]; // remove C:\fakename
    var imageurl = '@Url.Content("~/User-images/imagename")';
    imageurl = imageurl.replace('imagename', filename);
            $("#CVfile").attr("src", imageurl);

    var data = filename.split(".")[1];
    if (data.toLowerCase() != 'pdf' && data.toLowerCase() != 'text' && data.toLowerCase() != 'docx')
    {
        alert("Invalid file, Please select pdf,text,docx files");
        var filename = $("#CVfile").val().slice(1);

        $("#CVfile").val('');
        // var imageurl = '@Url.Content("~")' + filename;
        $("#CVfile").attr("src", imageurl);

    return false;
       }

   }

    function validateInputs(e) {

														


    var Salutation1 = $.trim($('#Salutation1').val());
    var firstName = $.trim($('#firstNameid').val());
    var LastName = $.trim($('#LastName').val());
    var signinaccountid = $.trim($('#signinaccountid').val());
    var MainEmail = $.trim($('#MainEmail').val());
    var MainEmailType = $.trim($('#MainEmailType').val());
    var ConfirmPassword = $.trim($('#ConfirmPassword').val());
    var Password = $.trim($('#Password').val());
    var Address1 = $.trim($('#Address1').val());
    var city = $.trim($('#city').val());
    var state = $.trim($('#State').val());
    var country = $.trim($('#Country').val());
    var zipcode = $.trim($('#zipcode').val());
    var jobtitle = $.trim($('#jobtitle').val());
    var Organization = $.trim($('#Organization').val());
    var phone1 = $.trim($('#phone1').val());
    var timeZone = $.trim($('#Timezone').val());
    if (Salutation1 == "") {
    $("#Salutation1").focus();
    alert("Please Select Salutation");
    return false;
    }
    if (firstName == "") {
    $("#firstNameid").focus();
    alert("Please Fill First Name");
    return false;
    }
    else if (LastName == "") {
    $("#LastName").focus();
    alert("Please Fill Last Name");
    return false;
    }
    else if (signinaccountid == "") {
    $("#signinaccountid").focus();
    alert("Please Fill Sign in Account ID");
    return false;
    }
    else if (MainEmail == "") {
    $("#MainEmail").focus();
    alert("Please Fill Main Email");
    return false;
    }
    else if (MainEmailType == "") {
    $("#MainEmailType").focus();
    alert("Please Fill MainEmailType");
    return false;
    }
    else if (Password == "") {
    $("#Password").focus();
    alert("Please Fill Password");
    return false;
    }
    else if (ConfirmPassword == "") {
    $("#ConfirmPassword").focus();
    alert("Please Fill Confirm Password");
    return false;
    }
    else if (Password != ConfirmPassword) {
    $("#Password").focus();
    $("#ConfirmPassword").focus();
    alert("Password and ConfirmPassword value not match.");
    return false;
    }
    else if (phone1 == "") {
    $("#phone1").focus();
    alert("Please Fill Phone 1");
    return false;
    }
    else if (Address1 == "") {
    $("#Address1").focus();
    alert("Please Fill Address1");
    return false;
    }
    else if (city == "") {
    $("#city").focus();
    alert("Please Fill City");
    return false;
    }
    else if (country == "" || country == 0) {
        $("#state").focus();
        alert("Please Select Country");
        return false;
    }
    else if (state == "" || state==0) {
    $("#state").focus();
    alert("Please Select State");
    return false;
    }
    else if (timeZone == "" || timeZone == 0) {
        $("#state").focus();
        alert("Please Select Timezone");
        return false;
    }
    else if (zipcode == "") {
    $("#zipcode").focus();
    alert("Please Fill ZIP code");
    return false;
    }
    else if (jobtitle == "") {
    $("#jobtitle").focus();
    alert("Please Fill Job Title");
    return false;
    }

    else if (Organization == "") {
    $("#Organization").focus();
    alert("Please Fill Organization");
    return false;
    }
    else {
    return true
    }

    }

    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.9/js/jquery.Jcrop.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/CropImageScripts/pixelarity.css">
    <script type="text/javascript" src="~/Scripts/CropImageScripts/pixelarity-face.js"></script>
    <script type="text/javascript" src="~/Scripts/CropImageScripts/script-face.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var h;
            var w;
            $("#file").change(function () {
                JcropAPI = $('#image1').data('Jcrop');
                if (JcropAPI != null) {
                    JcropAPI.destroy();
                }
                $('#image1').hide();
                $('#canvas').hide();
                var reader = new FileReader();
                reader.onload = function (e) {
                    var image = new Image();
                    image.onload = function () {


                        h = this.height;
                        w = this.width;
                        window.console && console.log(h);
                    }
                    image.src = e.target.result;
                    $('#image1').show();
                    $('#image1').attr("src", e.target.result);
                    $('#image1').Jcrop({
                        onChange: SetCoordinates,
                        onSelect: SetCoordinates
                    });
                    $('#lbl1').text("Info -: Crop Image if you want");
                }
                reader.readAsDataURL($(this)[0].files[0]);


            });

            $('#btnCrop').click(function () {
                window.console && console.log(h);
                var h1 = $(".jcrop-holder").height() != null ? $(".jcrop-holder").height() : 300;
                var w1 = $(".jcrop-holder").width() != null ? $(".jcrop-holder").width() : 300;























                var x1 = parseFloat(parseFloat($('#imgX1').val()) * parseFloat(w / w1)).toString();
                var y1 = parseFloat(parseFloat($('#imgY1').val()) * parseFloat(h / h1)).toString();
                var width = parseFloat(parseFloat($('#imgWidth').val()) * parseFloat(w / w1)).toString();
                var height = parseFloat(parseFloat($('#imgHeight').val()) * parseFloat(h / h1)).toString();




















































                var canvas = $("#canvas")[0];
                var context = canvas.getContext('2d');

                var img = new Image();
                img.onload = function () {
                    canvas.height = height;
                    canvas.width = width;
                    context.drawImage(img, x1, y1, width, height, 0, 0, width, height);

                    $('#imgCropped').val(canvas.toDataURL());

                    $('#canvas').show();

                    $('#image1').hide();
                    ;
                    $('#btnCrop').hide();

                };
                JcropAPI = $('#image1').data('Jcrop');
                if (JcropAPI != null) {
                    JcropAPI.destroy();
                }
                img.src = $('#image1').attr("src");
                $('#lbl1').text("Cropped Image Saved");
            });
        });

        function SetCoordinates(c) {
            $('#imgX1').val(c.x);
            $('#imgY1').val(c.y);
            $('#imgWidth').val(c.w);
            $('#imgHeight').val(c.h);
            $('#btnCrop').show();
        };














    </script>


    <script type="text/javascript">
        var imageCropWidth = 0;
        var imageCropHeight = 0;
        var cropPointX = 0;
        var cropPointY = 0;
        var jcropApi;

        $('#h1cropimage').on("click", function (e) {
            e.preventDefault();
            cropImage();
        });
        function initCrop() {
            $('#image').Jcrop({
                onChange: setCoordsandImageSize,
                aspectRatio: 0,
                onSelect: setCoordsandImageSize,

            }, function () { jcropApi = this });

        }
        function showCoordinate() {
            $('#lblwidth').text(imageCropWidth + "px");

            $('#lblheight').text(imageCropHeight + "px");
        }
        function setCoordsandImageSize(e) {
            imageCropWidth = e.w;
            imageCropHeight = e.h;
            cropPointX = e.x;
            cropPointY = e.y;
            $('#lblwidth').text(imageCropWidth + "px");

            $('#lblheight').text(imageCropHeight + "px");
        }
        function cropImage() {
            if (imageCropWidth == 0 && imageCropHeight == 0) {
                alert("Please select Crop Image!");
                return;
            }
            var img = $("image").attr("src");
            showCroppedImage();
        }
        function showCroppedImage() {
            var X1 = cropPointX;
            var Y1 = cropPointY;
            var width = imageCropWidth;
            var height = imageCropHeight;
            var canvas = canvas.getContext('2d');
            var img = new Image();
            img.onload = function () {
                canvas.height = height;
                canvas.width = width;
                canvas.drawImage(img, X1, Y1.width, height, 0, 0, width, height);
                $('#cropped').val(canvas.toDataURL());
            };
            img.src = $('#image').attr("src");
        }
        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                if (jcropApi != null) {
                    jcropApi.destroy();
                }
                reader.onload = function (e) {
                    $('#image').attr('src', "");
                    var img = $('#image').attr('src', e.target.result);
                    var width = img[0].width;
                    var height = img[0].height;
                    $('#lblwidth').text(width + "px");

                    $('#lblheight').text(height + "px");
                    initCrop();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#flphoto').change(function () {
            readFile(this)
        });
    </script>

</head>

<div class="body-main-wrap">
    <form class="container" action="/RegistrationNew/RegistrationSubmit" method="post" enctype="multipart/form-data" onsubmit="validateInputs(e);" style="padding: 5px;">
        <input class="form-control" name="ID" value="@Model.ID" hidden />
        <div style="text-align:right;vertical-align:top;float:right">
            @if (Model.ID != 0 && Model.ID != null)
            {
                <input class="btn btn-outline-warning" type="submit" id="Saveid" style="width:78px;" value="Apply" onclick="return validateInputs(event);" />
                <input class="btn btn-outline-warning" type="submit" id="Udateid" style="width:78px;" value="Update" onclick="return validateInputs(event);" />
                <a href="~/Account/ProfilePage" class="btn btn-outline-warning" style="width:78px;">Cancel</a>

            }
            else
            {
                <input class="btn btn-outline-warning" type="submit" id="Saveid" style="width: 78px;" value="Submit" onclick="return validateInputs(event);" />

            }
        </div>
        <input id="save" name="save" hidden />
        <div class="row">
            <table style="float:left" class="col-3">
                <tbody>
                    <tr>
                        <td style="text-align: center; padding: 0px">
                            <div>
                                @if (Model.Uimg == null)

                                {
                                    <img alt="" id="result" style="display:  block;" height="150" width="150" position: relative;
                                         margin-top: 40px; />
                                }

                                else
                                {
                                    if (Model.Uimg != null)
                                    {
                                        <input class="form-control" type="text" style="display:none" id="userimageName" value="@Model.Uimg" />


                                        <!--<img class="form-control" alt="" id="result" src="@Url.Content(Model.Uimg)" style="display:  10px;" height="350" width="80" />
                                        -->



                                        <br />
                                        <table border="0" cellpadding="0" cellspacing="5">
                                            <tr>
                                                <td>
                                                    <img class="form-control" alt="" id="image1" style="width:300px;height:300px;" src="@Model.Uimg" />
                                                </td>
                                                <td>
                                                    <canvas id="canvas" height="5" width="5" style="display:none;"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="button" id="btnCrop" value="Crop" style="display: none" />
                                        <input type="submit" id="btnUpload" value="Upload" style="display:none" />

                                        <input type="hidden" name="imgX1" id="imgX1" />
                                        <input type="hidden" name="imgY1" id="imgY1" />
                                        <input type="hidden" name="imgWidth" id="imgWidth" />
                                        <input type="hidden" name="imgHeight" id="imgHeight" />
                                        <input type="hidden" name="imgCropped" id="imgCropped" />
                                    }

                                    else
                                    {
                                        <img class="form-control" alt="" id="result" src="@Url.Content(Model.Uimg)" style="display:  block;" height="250" width="150" position: relative; margin-top: 40px; />
                                    }

                                }



                            </div>

                            <div>






















																					  
                                <label class="form-label" for="file">Upload Profile Picture</label>








                                <input class="form-control" type='file' name="file" id="file" onchange="fileCheck(this);" />





















                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-1"></div>
            <div class="col-7">


                <span style="color: #00008b; font-weight: bold">Name and Contact Information</span>
                <table class="row mt-8">
                    <tbody>
                        <tr>
                            <td colspan="6" style="text-align: left">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span title="Selection required">Salutation:</span>
                                <br>

                                @Html.DropDownList("Salutation1", null, "select", new { @class = "form-select" })
                            </td>
                            <td style="padding-left: 5px">
                                <span>First Name:</span>
                                <br>
                                <input class="form-control" id="firstNameid" type="text" value="@Model.firstname" name="FirstName" required />
                            </td>
                            <td style="padding-left: 5px">
                                <span>Middle Name:</span>
                                <br>
                                <input class="form-control" type="text" value="@Model.middlename" name="MiddleName" />
                            </td>
                            <td style="padding-left: 5px">
                                <span>Last Name:</span>
                                <br>
                                <input class="form-control" id="LastName" type="text" value="@Model.lastname" name="LastName" required />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="row mt-8">
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px">
                                <span>Suffix:</span>
                                <br>
                                <div style="width:100px;" tabindex="0">
                                    @Html.DropDownList("Suffix", null, "(none)", new { @class = "form-select" })
                                </div>
                            </td>
                            <td style="padding-left: 5px">
                                <span>Nick Name:</span>
                                <input class="form-control" type="text" value="@Model.nickname" name="nickname" />
                            </td>
                            <td style="padding-left: 5px">
                                <span>Sign in Account ID:</span>
                                <br />
                                <input class="form-control" type="text" value="@Model.signinaccountid" name="signinaccountid" required id="signinaccountid" />

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px">
                                <span style="color: #00008b; font-weight: bold">Main Email:</span>
                                <br>
                                <select class="form-select" name="MainEmailType" value=1 id="MainEmailType">
                                    <option value=3 @(Model.MainEmailType == "3" ? "selected" : "")>Assistant</option>
                                    <option value=2 @(Model.MainEmailType == "2" ? "selected" : "")>Personal</option>
                                    <option value=1 @(Model.MainEmailType == "1" ? "selected" : "")>Work</option>
                                </select>
                            </td>
                            <td style="padding-left: 5px">
                                <span>Email:</span>
                                <input size="30" class="form-control" type="email" name="MainEmail" value="@Model.mainemail" required id="MainEmail" />
                            </td>
                            <td style="padding-left: 5px">
                                @if (Model.ID != 0 && Model.ID != null)
                                {
                                    <input class="form-control" type="password" value="1" name="Password" required MainEmail id="Password" hidden />
                                    <input class="form-control" type="password" value="1" name="ConfirmPassword" required id="ConfirmPassword" hidden />
                                }
                                else
                                {
                                    <span>Password:</span>
                                    <input class="form-control" type="password" value="@Model.Password" name="Password" required MainEmail id="Password" />
                                    <span>Confirm Password:</span>
                                    <input class="form-control" type="password" value="@Model.Password" name="ConfirmPassword" required id="ConfirmPassword" />
                                }
                            </td>
                        </tr>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span title="Selection required">Send email to:</span>
                                <br>
                                <div title="Selection required" style="width:220px;" tabindex="0">
                                    <select class="form-select" value="@Model.sendemailto" name="SendEmailTo">
                                        <option value=1 @(Model.sendemailto == "1" ? "selected" : "") selected>Main Email</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 120px">
                                <span>Skype Address:</span>
                                <br>
                                <input class="form-control" type="text" value="@Model.skypeaddress" name="SkypeAddress" />
                            </td>
                            <td style="padding-left: 5px">
                                <span>LinkedIn URL </span>
                                <span style="font-size: 10pt; color: #00008b;">(https://www.linkedin.com):</span><br>
                                <input class="form-control" type="text" value="@Model.linkedinURL" name="LinkedInURL" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="col" style="padding-top: 20px; vertical-align: top">
            </div>
            <table>
                <tbody>
                    <tr>
                        <td style="padding-top: 20px; vertical-align: top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <span style="color: #00008b; font-weight: bold">Mailing Address</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span title="Selection required">Country:</span>
                                            @Model.country
                                            @Model.countrypkey
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <div title="Selection required" style="width:260px;" tabindex="0">
											   
								
								
								 
								 
			   
                                                @Html.DropDownList("Country", null, "---Select Country----", new { @class = "form-select" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span class="span">Address 1:</span>
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <input class="form-control" type="text" value="@Model.address1" name="Address1" required id="Address1" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span class=" span">Address 2:</span>
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <input class="form-control" type="text" value="@Model.address2" name="Address2" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span class="span">City:</span>
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <input class="form-control" type="text" value="@Model.city" name="city" required id="city" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span title="Selection required" class=" span">State:</span>
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <div title="Selection required" style="width:260px;" tabindex="0">
												

							   
								   
							   
			   
			   
                                                @Html.DropDownList("State", null, "---Select State----", new { @class = "form-select" })
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span class="span">ZIP code:</span>
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <input class="form-control" type="text" value="@Model.zipcode" name="zipcode" id="zipcode" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">
                                            <span>Time zone:</span>
                                        </td>
                                        <td style="padding-left: 5px; text-align: left">
                                            <div style="width:260px;" tabindex="0">
											  
								   
								   
									
			   
				
                                                @Html.DropDownList("Timezone", null, "---Select TimeZone----", new { @class = "form-select" })<br />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="padding-left: 40px; padding-top: 20px; vertical-align: top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>Phone 1:</span>
                                            <br>
                                            <div>

                                                @Html.DropDownList("PhoneType1", null, new { @class = "form-select-sm" })
                                                <span>+</span>
                                                <span>
                                                    <input class="form-control-sm" type="number" required name="countryCodephone1" value="1" disabled="disabled" />
                                                </span>
                                                <input class="form-control-sm" type="number" value="@Model.phone1" name="phone1" id="phone1" />  <span>x</span>
                                                <span>
                                                    <input class="form-control-sm" type="number" value="@Model.phone1extension" name="phone1extension" />
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Phone 2:</span>
                                            <br>
                                            <div style="width:120px;" tabindex="0">
                                            </div>
                                            <div>

                                                @Html.DropDownList("PhoneType2", null, new { @class = "form-select-sm" })
                                                <span>+</span>
                                                <span>
                                                    <input class="form-control-sm" type="number" name="countryCodephone2" value="1" disabled="disabled" />
                                                </span>
                                                <input class="form-control-sm" type="number" value="@Model.phone2" name="phone2" />  <span>x</span>
                                                <span>
                                                    <input class="form-control-sm" type="number" value="@Model.phone2extension" name="phone2extension" />
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="display: none;">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span>Alternate Contact</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div style="padding-top: 10px; padding-left: 10px;">
                <span style="color: #00008b; font-weight: bold">Professional Information</span>
            </div>

            <div>

                <div style="vertical-align: top; float: left; padding-left: 10px">
                    <div>
                        <div style="float: left ;margin-bottom:15px">
                            <span>Job Title:</span>
                            <br>
                            <input class="form-control" type="text" value="@Model.jobTitle" name="jobtitle" id="jobtitle" required />
                        </div>
                        <div style="float: left; padding-left: 5px; margin-bottom: 15px">
                            <span>Department:</span>
                            <br>
                            <input class="form-control" type="text" value="@Model.department" name="Department" />
                        </div>
                        <div style="float: left; padding-left: 5px; margin-bottom:25px">
                            <span>Organization:</span>
                            <br>
                            @Html.DropDownList("Organization", null, "<--Select Organization-->", new { @class = "form-select" })
                        </div>
                        <br />
                    </div>
                    <br />
                    <div style="float: left; padding-left: 5px;">
                        <span class="form-label">Degrees and Certifications:</span>
                        <br>
                        <input class="form-control" type="text" value="@Model.degreesandcertifications" name="degreesandcertifications" />
                    </div>
                    <div style="float: left; padding-left: 5px">
                        <span>Website:</span>
                        <br>
                        <input class="form-control" type="text" value="@Model.website" name="Website" />

                    </div>
                    <div style="float: left; padding-left: 8px">
                        <span style="color: black; font-weight: bold">CV @Model.CV</span>
                        <br>
                        <input class="form-control" type="file" name="CVfile" value="Upload" id="CVfile" onchange="fileCheckdoc(this);" />
                    </div>
                    <div>
                        <div style="float: left; margin-top:15px;" class="cvp">
                            <div style="float: left;" class="cvp">
                                <span>Personal Biography:</span>
                                <br>
                                <textarea class="form-control" name="personalbiography" value="@Model.personalbiography" rows="100" cols="10000" style="height: 150px; max-width: 686px; " maxlength="600">@Model.personalbiography</textarea>
                                <br />
                                <lable style="width:100%"> About My Organization And My Role:</lable>
                                <br>
                                <textarea class="form-control" name="aboutmyorganizationandmyrole" value="@Model.aboutmyorganizationandmyrole" rows="100" cols="100" style="height: 150px; max-width: 686px; " maxlength="500">@Model.aboutmyorganizationandmyrole</textarea>
                            </div>
                            <div></div>
                            <br />
                            <div style="visibility:hidden">0</div>
                        </div>
                        <div style="padding-left: 5px; vertical-align: top; float: left;" class="spel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>











