@model IEnumerable<Elimar.Models.UserResponse>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";


}

<link href="~/Content/components.css" rel="stylesheet" />

<script src="~/Scripts/jquery.dataTables.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
</head>


<style>
    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef0f;
        opacity: 1;
    }

    .dataTable td .brdr-1 {
        padding: 0 5px;
        border-radius: 2px;
    }

    .dataTables_paginate {
        width: 100%;
        text-align: center !important;
        border: 1px solid #e6e6e6;
        background-color: #f9f9f9;
        padding: 5px 0 4px;
        line-height: 22px;
        float: none !important;
        margin: 0px;
    }

    .dataTables_paginate .paginate_button {
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #e0e0e0 !important;
        border-radius: 0 !important;
        color: #000 !important;
        background: #f9f9f9 !important;
        padding: 3px !important;
        display: inline-block !important;
        position: relative;
        vertical-align: middle;
        cursor: pointer !important;
        font-size: 13px;
        margin: 5px;
    }


    .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
        color: #333 !important;
        background-color: #e7e7e7 !important;
    }

    .paginate_button.previous:after, .paginate_button.next:after {
        content: "";
        display: block;
        border-width: 4px;
        border-style: solid;
        border-color: transparent #000 transparent transparent;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
    }

    .paginate_button.previous, .paginate_button.next {
        font-size: 0;
        width: 20px !important;
        height: 20px;
    }

    .paginate_button.next:after {
        border-color: transparent transparent transparent #000;
        right: auto;
        left: 6px;
    }

    .dataTable thead .sorting_desc:after, .dataTable thead .sorting_asc:after, .dataTable thead .sorting:after, .dataTable thead .sorting:before {
        content: none;
    }

</style>

<body>
    <section class="task-list-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("SearchUser", "RegistrationNew", FormMethod.Get))
                    {
                        <div class="control-icons">
                            <h2>Portolo Users</h2>

                            <a id="ExcelBtn" style="border-color: white; border: none;background-color:white">
                                <i class="fa-solid fa-download" title="Download Excel"></i>
                            </a>

                            <button type="submit" id="SearchBtn" name="search" value="true" style="border-color: white; border: none;background-color:white" title="Search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>

                            <a href="~/Registration/Users"><i class="fa-solid fa-arrows-rotate"></i></a>

                            <div class="controls">
                                <a class="brdr-1 btn" href="/RegistrationNew/Registration" style="width:98px;height:33px;"> Join Portolo</a>
                                <a class="brdr-1 btn" href="" id="btnDelete" onclick="return confirm('Are you sure?')" style="width:98px;height:33px;"><i class="fa fa-trash-o"></i> Delete</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    @Html.TextBox("fname", null, new { @class = "form-control form-control-sm"})
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    @Html.TextBox("lname", null, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Email:</label>
                                    @Html.TextBox("email", null, new { @class = "form-control form-control-sm"})
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Job Title:</label>
                                    @Html.TextBox("Titl", null, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Organisation:</label>
                                    @Html.TextBox("org", null, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>

                        </div>
                    }

                    <br />

                    <div class="card">
                        <div class="emp-data">
                            <table class="table table-bordered mb-0" id="table">
                                <thead>
                                    <tr class="table-hd">
                                        <th style="padding-right:0px; width:5px" data-sortable="false">
                                            <input type="checkbox" name="select-all" id="select-all" />
                                        </th>
                                        <th> Profile </th>
                                        <th style="padding-right:5px"> Salutation </th>
                                        <th data-sortable="true"> First Name </th>
                                        <th style="padding-right:5px"> Middle Name </th>
                                        <th style="padding-right:5px"> Last Name </th>
                                        <th data-sortable="true"> Main Email </th>
                                        <th style="padding-right:5px"> Country </th>
                                        <th data-sortable="true"> Job Title </th>
                                        <th style="padding-right:5px"> Department </th>
                                        <th data-sortable="true"> Organization </th>
                                        <th style="padding-right:5px"> Personal Biography </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Users != null)
                                    {
                                        foreach (var item in ViewBag.Users.Rows)
                                        {
                                            <tr>
                                                <td><input type="checkbox" name="ID" value="@item["pKey"]" class="custom-checkbox chkCheckBoxId" /> </td>
                                                <td>
                                                    <img alt="" @*src="@Url.Content(item.Uimg)"*@ style="display: inline; margin-right: 5px;" height="100" width="150" />
                                                </td>
                                                <td> @item["SalutationID"] </td>
                                                <td> @item["Firstname"] </td>
                                                <td> @item["MiddleName"] </td>
                                                <td> @item["Lastname"] </td>
                                                <td> @item["Email"] </td>
                                                <td> @item["CountryID"] </td>
                                                <td> @item["Title"] </td>
                                                <td> @item["Department"] </td>
                                                <td> @item["OrganizationID"]</td>
                                                <td> @item["PersonalBio"] </td>
                                                <td>
                                                    <a href="/RegistrationNew/Registration?userID=@item["pKey"]">Edit</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

<script>
    $(document).ready(function () {
        $("#table").dataTable({
            paging: true, bFilter: true, ordering: true, searching: true, dom: 'tp', "order": [[0, "desc"]], pageLength: 50
        });

        $(".paginate_button").on("click", function () {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        });
    });

    var primarykey = [];

    $("#select-all").click(function (event) {
        if (this.checked) {
            primarykey.length = 0;
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
                if (this.value != "on") {
                    primarykey.push(this.value);
                }
            });
        }
        else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    $("#ExcelBtn").click(function () {
        var form = $(this).parents('form:first');
        form.submit();
    });

    $("#btnDelete").click(function (e) {
        var checklist = [];
        $(':checkbox:checked').each(function () {
            if (this.value != "on")
                checklist.push(this.value);
        });

        var ids = checklist.join(", ");
        if (ids == "")
            alert("Please select at least one topic to delete");
        else {
            $.ajax({
                url: "/RegistrationNew/DeleteUser",
                type: "POST",
                data: { ids: ids }
            });
        }
    });
</script>

<link rel="stylesheet" href="../Scripts/jquery-ui.css" />
<script src="../Scripts/jquery-ui.js"></script>

</body>
