@using PagedList.Mvc
@model  PagedList.IPagedList<Elimar.Models.UserRequest>
@{
    Layout = null;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline;
    }

        li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

    ul.pagination li a.active {
        background-color: #4CAF50;
        color: white;
    }

    ul.pagination li a:hover:not(.active) {
        background-color: #ddd;
    }
</style>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var array = [];
        var PK = '@ViewData["PK"]'
        debugger;
        $("#save").click(function () {
            var member
            $("input:checkbox:checked").each(function () {
                member = $(this).parent().siblings(".staffMember").text();

                array.push($(this).val());
                debugger;
            });
            if (member == "False") {
                if (confirm("Selected account is not staff member are you sure you want to make this account staff member")) {
                    
                }
                else {
                    return false;

                }
            }
            debugger;
            $.ajax({
                type: "POST",
                url: "/Security/AddMember",
                traditional: true,
                data: { 'arrayOfValues': array, 'PK': PK },
                success: function (response) {
                    debugger;
                    $("#main").css("display", "none");
                    $("body").css("display", "none");
                    window.top.location.reload();
                }
            });
        });
        $("#mainCheckbox").change(function () {
            if ($("#mainCheckbox").is(':checked')) {
                debugger;
                $("#members").find('input[type=checkbox]').prop('checked', true);
            }
            else {
                $("#members").find('input[type=checkbox]').prop('checked', false);
            }
        })
        $("#cancel").click(function () {
            window.top.location.reload();
        });
        $("li").click(function () {
            debugger;
            $.blockUI({
                message: '<h1>Loading...</h1>',

                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    opacity: .6,
                    color:'#FFFF'
                }
            });
        })
        $("button[type=submit]").click(function () {
            debugger;
            $.blockUI({
                message: '<h1>Loading...</h1>',

                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    opacity: .6,
                    color: '#FFFF'
                }
            });
        })

    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    th {
        background-color: cornflowerblue;
    }

    a {
        color: black;
        text-decoration: none;
    }
</style>
<div id="main" class="container-fluid">
    <div style=" ">
        <span style="color: #FF8800; font-size: 25px; margin: auto; ">Choose Members</span>
        <div style="float:right; align-content:center; ">
            <input id="save" type="submit" style="width: 70px; padding: 2px; background-color: white; " class="btn btn-outline-warning" value="Save" />
            <input id="cancel" type="button" style="width: 70px; padding:2px; background-color: white; " class="btn btn-outline-warning" value="cancel" />
        </div>
    </div>

    <form asp-action="AddMember" method="get" style="display:inline-block">
        <input name="PK" value="@ViewData["PK"]" hidden />
        <div class="row" style="margin-top:10px;margin-bottom:10px">
            <div class="col">
                <label style="font-size:10px;">Name</label>
                <input value="@ViewData["NameFilter"]" class="form-control" name="nameSearch" />
            </div>
            <div class="col">
                <label style="font-size:10px;">Email</label>
                <input value="@ViewData["EmailFilter"]" class="form-control" name="emailSearch" />
            </div>
            <div class="col" style="position:relative">
                <button style="" type="submit" class="btn"><i style="vertical-align:bottom;position:absolute; top:50%;" class="fa-solid fa-magnifying-glass"></i></button>
                <a href="~/Security/AddMember" style="color:black;"><i style="vertical-align:bottom;position:absolute; top:50%; left:70px;" class="fa-solid fa-rotate-left"></i></a>
            </div>
        </div>
    </form>

    <div style="max-height: 70%; overflow: auto; border: 2px solid #6e6c6c">
        <table style="margin:auto;" class="table table-responsive table-striped">
            <thead>
                <tr style="background-color: #6e6c6c; color: white;">
                    <th><input type="checkbox" id="mainCheckbox" /></th>
                    <th>ID</th>
                    <th>Staff Member</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Organization</th>
                </tr>
            </thead>
            <tbody id="members">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" value="@item.ID" /></td>
                        <td>@item.ID</td>
                        <td class="staffMember">@item.staffmember</td>
                        <td>@item.name</td>
                        <td>@item.email</td>
                        <td>@item.organization</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*<div class="container d-inline " style="position:absolute;left:35%;">
            <span style="font-size:20px">Pages</span>
            <a style="align-self:center; font-size:20px; margin-left:20px; margin-bottom:30px;" href="~/Security/AddMember"><<</a>
            @for (int i = ViewBag.firstPage; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.Page == i)
                {
                    <a style="text-align: center; font-size: 20px; margin-left: 20px; color: #FF8800" href="~/Security/AddMember?pageNo=@i&nameSearch=@ViewData["NameFilter"]&emailSearch=@ViewData["EmailFilter"]">@i</a>
                }
                else
                {
                    <a style="text-align:center; font-size:20px;margin-left:20px; color:black" href="~/Security/AddMember?pageNo=@i&nameSearch=@ViewData["NameFilter"]&emailSearch=@ViewData["EmailFilter"]">@i</a>
                }
            }
            <a style="align-self:center; font-size:20px; margin-left:20px; margin-bottom:30px;" href="~/Security/AddMember?pageNo=@ViewBag.noOfPage&nameSearch=@ViewData["NameFilter"]&emailSearch=@ViewData["EmailFilter"]">>></a>
        </div>*@

</div>

<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AddMember", new { page, nameSearch = @ViewData["NameFilter"] , emailSearch = @ViewData["EmailFilter"] }))
</div>

<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>