@model Elimar.Models.SecurityGroup
@{
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}
<style>
    textarea, input {
        max-width: none;
    }

    a {
        color: black;
    }

    i {
        display: inline-block;
        border-radius: 40px;
        box-shadow: 0 0 2px #888;
        padding: 0.3em 0.4em 0.2em 0.4em;
        margin: 4px;
        background-color: #ffbb33;
        color: whitesmoke;
    }

    i, a:hover {
        cursor: pointer;
    }

    td, tr {
        border: none;
    }
</style>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script type="text/javascript" language="javascript">
    function select(a) {
        debugger;
        $("#" + a).find('input[type=checkbox]').prop('checked', true);
    }
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#add").click(function () {
            $("#frame").show();
        })
        $("#remove").click(function () {
            var array = [];
            var PK = @Model.SecurtiyGroupPkey;
            debugger;
            $("#members input:checkbox:checked").each(function () {
                array.push($(this).val());
                debugger;
            });
            if (array.length == 0) {
                alert("please select members to remove");
                return false;
            }
            else {
                $.ajax({
                    url: "/Security/RemoveMember",
                    traditional: true,
                    data: { 'members': array, 'PK': PK },
                    success: function (response) {
                        debugger;
                        window.top.location.reload();
                    }
                });
            }
        });
        $("#save").click(function () {
            var array = [];
            var PK = @Model.SecurtiyGroupPkey;
            $("#component input:checkbox:checked").each(function () {
                array.push($(this).val());
            });
            $.ajax({
                url: "/Security/ChangeComponent",
                traditional: true,
                data: { 'components': array, 'PK': PK },
                success: function (response) {
                    debugger;
                }
            });
        });
        $("#apply").click(function () {
            var array = [];
            var PK = @Model.SecurtiyGroupPkey;
            $("#component input:checkbox:checked").each(function () {
                array.push($(this).val());
            });
            $.ajax({
                url: "/Security/ChangeComponent",
                traditional: true,
                data: { 'components': array, 'PK': PK },
                success: function (response) {
                    debugger;
                }
            });
            var name = $("#Name").val();
            var description = $("#Description").val();
            debugger;
            $.ajax({
                type: "POST",
                url: "/Security/EditSecurityGroup",
                traditional: true,
                data: {
                    'Name': name,
                    'Description': description,
                    'SecurtiyGroupPkey': $("#SecurtiyGroupPkey").val(),
                },
                success: function (response) {
                    debugger;

                }
            });
            setTimeout(
                function () {
                    location.reload();
                }, 1000);
        });
        $("#export").click(function () {
            debugger;
            $("#members").table2excel({
                name: "securit Group Members",
                filename: "Members", //do not include extension
                fileext: ".xls" // file extension
            });
        });
        $("#memberCheckbox").change(function () {
            debugger;
            if ($("#memberCheckbox").is(':checked')) {
                debugger;
                $(".members").find('input[type=checkbox]').prop('checked', true);
            }
            else {
                debugger;
                $(".members").find('input[type=checkbox]').prop('checked', false);
            }
        });
    });

</script>


<div>
    <iframe id="frame" style="position: absolute; left: 8%; top: 19%; height: 70%; width: 83%; display: none; border: 2px solid #6e6c6c" src="~/Security/AddMember?PK=@Model.SecurtiyGroupPkey"></iframe>
</div>
<form action="~/Security/EditSecurityGroup" method="post" enctype="multipart/form-data" class="container" style="margin-top:15px;">
    <input value="@Model.SecurtiyGroupPkey" id="SecurtiyGroupPkey" name="SecurtiyGroupPkey" hidden />
    <div class="row" >
        <div class="col-12">
            <span style="font-size: 30px; color: #FF8800">Security Group: @Model.Name</span>
            <div style="float:right; align-content:center ">
                <input id="apply" type="button" style="width: 70px; padding: 2px; background-color: white;" class="btn btn-outline-warning" value="Apply" />
                <input id="save" type="submit" style="width: 70px; padding: 2px; background-color: white; " class="btn btn-outline-warning" value="Save" />
                <a href="~/security/Securitygroup"><input id="cancel" type="button" style="width: 70px; padding:2px; background-color: white; " class="btn btn-outline-warning" value="Cancel" /></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label style="font-size:12px">Name</label><br/>
            <input id="Name" style="border-left: 5px solid #FF8800; width: 500px;" class="form-control" value="@Model.Name" name="Name" />
            <label style="font-size:12px">Description</label><br />
            <textarea id="Description" class="form-control" name="Description" style="width: 500px; resize:none;height:100px;">@Model.Description</textarea><br />
            <label class="form-control px-1" style="border: none; font-size: 20px; width: 300px; color: #FF8800">Members</label>
            <div class="row">
                <div class="col">
                    <a href="#" id="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="#" id="remove"><i class="fa-solid fa-minus"></i></a>
                    @*<a href="#" id="export"><i class="fa-solid fa-file-excel"></i></a>*@
                </div>
            </div>
            <table id="members" class="table table-striped">
                <thead>
                    <tr style="background-color: #6e6c6c; color: white;">
                        <td style="width:50px"><input id="memberCheckbox"  type="checkbox" /></td>
                        <td style="width:100px"><lable>ID</lable></td>
                        <td style="width:300px"><lable>Name</lable></td>
                        <td style="width:100px"><lable>Activated</lable></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.members)
                    {
                        <tr class="members">
                            <td><input value="@item.AccountID" type="checkbox" /></td>
                            <td>@item.AccountID</td>
                            <td>@item.AccountName</td>
                            <td>@item.Activated</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br /><br /> <br />
        </div>
        <br /><br /> <br />
        <div class="col-2">

        </div>
        <div class="col-4">
            <span style="color: #FF8800; font-size: 20px;">Pages</span>
            <table id="component" style="border: 1px solid #6e6c6c; " class="table table-striped">
                <thead>
                    <tr>
                        <th style="background-color: #6e6c6c; color: white">Page</th>
                        <th style="background-color: #6e6c6c; color: white">View</th>
                        <th style="background-color: #6e6c6c; color: white">Add</th>
                        <th style="background-color: #6e6c6c; color: white">Edit</th>
                        <th style="background-color: #6e6c6c; color: white">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @{foreach (var item in Model.ComponentList)
                        {
                            <tr id="@item.ComponentPkey">
                                <td><a href="#" onclick="select(@item.ComponentPkey)">@item.ComponentName</a></td>
                                @if (item.AllowView)
                                {
                                    <td><input value="@item.ComponentName+AllowView"  type="checkbox" checked /></td>
                                }
                                else
                                {
                                    <td><input value="@item.ComponentName+AllowView" type="checkbox" /></td>
                                }
                                @if (item.AllowAdd)
                                {
                                    <td><input value="@item.ComponentName+AllowAdd" type="checkbox" checked /></td>
                                }
                                else
                                {
                                    <td><input value="@item.ComponentName+AllowAdd" type="checkbox" /></td>
                                }
                                @if (item.AllowEdit)
                                {
                                    <td><input value="@item.ComponentName+AllowEdit"  type="checkbox" checked /></td>
                                }
                                else
                                {
                                    <td><input value="@item.ComponentName+AllowEdit"  type="checkbox" /></td>
                                }
                                @if (item.AllowDelete)
                                {
                                    <td><input value="@item.ComponentName+AllowDelete"  type="checkbox" checked /></td>
                                }
                                else
                                {
                                    <td><input value="@item.ComponentName+AllowDelete" type="checkbox" /></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>