@model fcConferenceManager.Models.EventsInfo
@{
    ViewBag.Title = "EventsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img[src*="guarantee_trans.png"]
    {
        max-width: unset;
    }

    label:empty
    {
        display: none;
    }
</style>
<script>
    function magiPopup() {
        var link = "";
        var data = "";
        var result = CommonFunctions.AjaxCall('GET', '/Events/IsConferenceRightPopUplink', data, 'Error While Reaching File.');
        if (result !== null && result !== "ERROR") {
            if (result.result === "OK") {
                link = result.link;
            }
        }
        $('#PopupIsMAGIRightForU').modal('show');

        document.getElementById('popUpIsMAGIRight').src = link;
    }
    function magiPopup1() {
        var link = "";
        var data = "";
        var result = CommonFunctions.AjaxCall('GET', '/Events/AttendencePopuplink', data, 'Error While Reaching File.');
        if (result !== null && result !== "ERROR") {
            if (result.result === "OK") {
                link = result.link;
            }
        }
        $('#PopupTextAttendence').modal('show');
        document.getElementById('popUpAttendence').src = link;
    }

    function __doPostBack(c) {
        $('#PopupTandC').modal('show');
    }

    function closeWin() {
        $('#PopupIsMAGIRightForU').modal('hide');
        $('#PopupTextAttendence').modal('hide');
    }
</script>
<div class="magiMySessionMainWrapper mt-3">
    <div class="container-fluid">
        <div class="row">
            @{
                Html.RenderAction("_PartialEventInfo", "Home");
            }
            <div class="col-md-8 col-lg-9 flex-grow-1">
                <div class="row">
                    <div class="col-md-8 ">
                        @Html.Raw("<h2 class='m-0'>" + @ViewBag.PageTitle + "</h2>")
                        <label id="lblTitleDate" class="mb-2">@ViewBag.CurrentEvent</label>

                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-wrap justify-content-end">
                            @Html.DropDownList("OverViewDropDown", null, new { @class = "bg-light mb-1 me-1 d-inline", id = "OverViewDropDown" })
                            <a id="btnReturn" href="@ViewBag.ReturnUrl" type="button" class="btn mb-2 ">Return</a>
                            <button id="printInfo" type="button" class="btn ms-1 mb-2">Print</button>
                        </div>
                    </div>
                </div>
                <div>
                    @if (ViewBag.lblNoInfoText != null || ViewBag.lblNoInfoText != "")
                    {
                        <label style="font-size:14pt;padding:5px; color:red; ">@ViewBag.lblNoInfoText</label>
                    }
                </div>
                <div class="magi-content-wrapper">
                    @foreach (fcConferenceManager.Models.EventsInfo eventsinfo in (List<fcConferenceManager.Models.EventsInfo>)ViewBag.EventInfo)
                    {
                        <details open class="mb-2">
                            <summary>@eventsinfo.SectionTitle</summary>
                            @Html.Raw(eventsinfo.SectionText)
                            @if (@eventsinfo.SectionTitle == "Conference Overview")
                            {
                                <a id="btnOverViewRegister" href="/WizardJoin?BA=1" type="button" class="btnOrange">Register</a>
                            }
                        </details>
                    }
                    <div class="modal fade" id="PrintInfo" tabindex="-1" aria-labelledby="printInfo" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl" style="width:800px;">
                            <div class="modal-content">
                                <div class="modal-header modalBlueHeader">
                                    <h5 class="modal-title"></h5>
                                    <div>
                                        <button id="btnPrint" type="button" class="btn me-1 mb-1">Print to PDF</button>
                                        <button id="closeModal" type="button" class="btn me-1 mb-1" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                                <div class="modal-body" id="dvInfoBody">
                                    @foreach (fcConferenceManager.Models.EventsInfo eventsinfo in (List<fcConferenceManager.Models.EventsInfo>)ViewBag.EventInfo)
                                    {
                                        <span style="color:navy;"><strong>@eventsinfo.SectionTitle</strong></span>
                                        <div>@Html.Raw(@eventsinfo.SectionText)</div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PopupIsMAGIRightForU" tabindex="-1" aria-labelledby="printInfo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:1100px ;height:600px">
        <div class="modal-content">
            <iframe id="popUpIsMAGIRight" src="" style="width: 100%; height: 600px"></iframe>
        </div>
    </div>
</div>
<div class="modal fade" id="PopupTextAttendence" tabindex="-1" aria-labelledby="PopupTextAttendence" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width: 11000px; height: 600px">
        <div class="modal-content">
            <iframe id="popUpAttendence" src="" style="width: 100%; height: 600px"></iframe>
        </div>
    </div>
</div>
<div class="modal fade" id="PopupTandC" tabindex="-1" aria-labelledby="PopupTandC" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                @*modalBlueHeader*@
                <table width="100%">
                    <tr>
                        <td>
                            <div style="display:inline-block">
                                <img src="~/Images/miscellaneous/terms.png" style="height:40px;" />
                            </div>
                            <div style="display:inline-block">
                                <h5 class="modal-title">Registration Terms and Conditions</h5>
                            </div>
                        </td>
                        <td>
                            <div style="float:right ; padding-right:10px;">
                                <button id="closeModal" type="button" class="btn me-1 mb-1" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" id="dvInfoBody">


                <div style="font-size:9pt;">@Html.Raw(@ViewBag.FormTextT_C)</div>


            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.OverViewDropDownSelected" id="DropdownSelected" />
<script>
    $(document).ready(function () {
        $("#printInfo").click(function () {
            $('#PrintInfo').modal('show');
        });
        $("#btnPrint").on("click", function () {
            var divContents = $("#dvInfoBody").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write(divContents);
            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
        });
        $('#OverViewDropDown').change(function () {
            var Data = { DropDownValue: $('#OverViewDropDown').val() };
            var result = CommonFunctions.AjaxCall('Post', '/MAGI/OverViewDropdownSelected', Data, 'json', 'Error Occurred while redirecting');
            if (result.ActionType === "Redirect")
                window.location.href = result.RedirectionUrl;
        });
        $('#OverViewDropDown').val($('#DropdownSelected').val());
    });
</script>


